@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.trusted-asset {
    padding: 40px 0;

    @include media(mobile){
        padding: 36px 0 0;
    }

    .trusted-main {
        &1 {
            .asset-sub1 {
                display: flex;

                .asset-subinner1 {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: start;
                    gap: 48.5px;
                    border: none;

                    @include media(mobile){
                        flex-direction: column-reverse;
                        gap: 22px;
                    }

                    .asset-item {
                        &1 {
                            margin: 0 48.5px 0 0;
                            max-width: 48%;
                            width: 100%;
                            min-height: 260px;
                            height: auto;

                            @include media(tab){
                                margin: 0;
                                min-height: auto;
                            }

                            @include media(mobile){
                                max-width: 100%;
                                margin: 0;
                                min-height: 156px;
                            }

                            .asset-inneritem1 {
                                line-height: 0;
                                height: 100%;
                                display: block;

                                img.comlist {
                                    width: 100%;
                                    height: 100%;
                                    aspect-ratio: unset;
                                    object-fit: contain;
                                }
                            }
                        }

                        &2 {
                            margin: 0;
                            max-width: 44.4%;
                            width: 100%;

                            @include media(mobile){
                                max-width: 100%
                            }

                            .asset-inneritem1 {
                                @include font-style(
                                    var(--heading-h4-size),
                                    var(--heading-h4-line-height),
                                    var(--blue-1-800-primary),
                                    600,
                                    var(--title)
                                );

                                margin: 0 0 4px;

                                @include media(mobile) {
                                    font-size: 28px;
                                    line-height: var(--sub-header-large-line-height);
                                    margin: 0 0 8px;
                                }
                            }

                            .asset-inneritem2 {
                                @include font-style(
                                    var(--body-medium-regular-size),
                                    24px,
                                    var(--text-body-2),
                                    400,
                                    var(--body)
                                );

                                margin: 0;

                                @include media(mobile) {
                                    font-size: var(--paragraph-small-regular-size);
                                    line-height: var(--paragraph-small-regular-line-height);
                                }
                            }
                        }
                    }
                }
            }
        }

        &2 {
            padding: 40px 0 0;
            
            @include media(desktop-sm){
                padding: 40px 16px 0;
            }

            .asset-inner1 {
                display: flex;
                justify-content: space-between;
                gap: 78px;
                list-style: none;
                margin: 0;

                @include media(tab){
                    flex-wrap: wrap;
                    justify-content: unset;
                    gap: 23px;
                }

                @include media(mobile){
                    gap: 16px;
                }

                li.comlist {
                    max-width: 230px;
                    width: 100%;

                    @include media(mobile){
                        max-width: 100%;
                    }

                    .asset-subinner1 {
                        margin: 0;
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        @include media(mobile){
                            flex-direction: row;
                            gap: 24px;
                        }

                        .asset-item {
                            &1 {
                                @include font-style(
                                    var(--heading-h3-size),
                                    var(--heading-h3-line-height),
                                    var(--blue-1-800-primary),
                                    600,
                                    var(--title)
                                );

                                @include media(mobile){
                                    font-family: var(--body);
                                    font-size: var(--body-medium-semibold-size);
                                    line-height: var(--body-medium-semibold-line-height);
                                    max-width: 32.356%;
                                    width: 100%;
                                }
                            }

                            &2 {
                                @include font-style(
                                    var(--body-small-regular-size),
                                    var(--label-large-line-height),
                                    var(--text-body-2),
                                    400,
                                    var(--body)
                                );

                                text-wrap-style: balance;
                                
                                @include media(mobile){
                                    color: var(--text-body);
                                    font-size: var(--paragraph-small-regular-size);
                                    line-height: var(--paragraph-small-regular-line-height);
                                    text-wrap-style: unset;
                                }

                                @media screen and (width <= 380px) {
                                    text-wrap-style: balance;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
