@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

// Variables
// $primary-color: #4a90e2;
// $text-color: #333;
// $border-radius: 8px;

// Base (Mobile first)
.aif-component.cards-container {
    margin-top: 0;

  h2{
    color: var(--blue-1-800-primary);
    text-align: center;
    font-family: var(--title);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 0 auto;
    padding: 40px 0;
  }


  .cards{
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;

        li{
            border-radius: 16px;
            background: var(--neutrals-200);
            width: 100%;
            border: 0;
            padding: 34px 12px;
            
    
            .cards-card-body{
                margin: 0;

            &.aif-each-in2{
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
                min-height: 192px;

              p{
                  margin: 0;
                  line-height: 0;
          
                  .icon{
                      width: 100%;
                      height: unset;
          
                      img{
                         width: 80px;
                         height: 80px;
                         aspect-ratio: 1/1;
                      }
                  }
              }
        
              h3{
                  color: var(--blue-1-800-primary);
                  font-family: var(--body);
                  font-size: var(--body-large-semibold-size);
                  font-style: normal;
                  font-weight: 600;
                  line-height: var(--body-large-semibold-line-height);
                  width: 100%;
                  margin: 0;
              }
            }
        }
    
        }
    }

  }
}

// Tablet
@media (width >= 767px) {
  .aif-component.cards-container {
    margin-top: 40px;

    h2{
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
        font-size: var(--heading-h5-size);
        line-height: var(--heading-h4-line-height);
        padding: 40px 0 60px;

    }

    .cards{
        padding-bottom: 80px;
        
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            justify-content: center;

            li{
                // border-radius: 16px;
                // background: var(--neutrals-200);
                max-width: 400px;
                padding: 40px 12px;
        
                .cards-card-body{
                // margin: 34px 12px;
            
                &.aif-each-in2{
                    min-height: unset;

                p{
                    // margin: 0;
            
                    .icon{
                        // width: 100%;
            
                        img{
                            // width: 80px;
                            // height: 80px;
                            // aspect-ratio: 1/1;
                            margin-bottom: 50px;
                        }
                    }
                }
            
                    h3{
                        max-width: 356px;
                        font-size: var(--body-large-medium-size, 18px);
                        font-weight: 500;
                        line-height: var(--body-large-medium-line-height);
                    }
                }
                }
        
            }
        }
  }


  }
}

// Our strategies component aif start 

.section.our-strategies-aif {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  margin: 0;

  @media screen and (width > 768px) {
    padding: 60px 0;
  }

  .our-strategies-wrap1 {
    display: flex;
    justify-content: center;
    .our-strategies-text1 {
      color: var(--blue-1-800-primary);
      font-family: var(--body);
      font-size: 32px;
      font-weight: 500;
      line-height: 56px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 60px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 83.744px;
        height: 89px;
        background-image: url("/icons/Arc-c-icon.svg");
        background-size: 100%;
        background-repeat: no-repeat;
      }

      @media screen and (width > 768px) {
        font-size: var(--heading-h1-size);
        margin-bottom: 60px;

        &::before {
          left: -26px;
        }
      }
    }
  }

  .our-strategies-wrap2 {
    width: 100%;
    padding: 0;

    .our-strategies-text1 {
      details {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        padding: 28px 16px;
        border: none;
        border-bottom: 1px solid var(--neutrals-300);

        @media screen and (width > 768px) {
          flex-direction: row;
          justify-content: space-between;
          padding: 28px;
        }

        summary {
          &::after {
            display: none;
          }
        }

        .accordion-item-label {
          padding: 0;

          .our-strategies-answer1 {
            color: var(--blue-1-800-primary);
            font-family: var(--body);
            font-size: var(--body-large-semibold-size);
            font-weight: 600;
            line-height: var(--body-xlarge-bold-line-height);
            margin: 0;
            padding: 0;
            font-feature-settings: var(--font-features-default);

            @media screen and (width > 768px) {
              font-size: var(--body-xlarge-bold-size);
            }
          }
        }

        .accordion-item-body {
          padding: 0;
          border-top: 0;
          background: var(--neutrals-100);

          .our-strategies-answer1 {
            color: var(--text-body-2);
            font-family: var(--body);
            font-size: var(--body-medium-regular-size);
            font-weight: 400;
            line-height: var(--body-xlarge-bold-line-height);
            max-width: 476px;
            margin: 24px 0 0;
            padding: 0;
            background: var(--neutrals-100);
            font-feature-settings: var(--font-features-default);

            @media screen and (width > 768px) {
              margin-top: 0;
            }
          }
        }

        &[open] {
          background: var(--neutrals-100);
        }
      }
    }
  }
}
// Our strategies componnent aif end 
// Desktop (≥ 1024px)
// @media (min-width: 1024px) {
//   .aif-component {
    
//   }
// }
