// become a partner 

.section.partner-connect {
    .default-content-wrapper {
        .cal-car-inner1 {
            display: none;
        }
    }

    .cal-car1 {
        .cal-car-inner2 {
            margin: unset;
            background: var(--blue-1-800-primary);

            .cal-car-sub-inner2 {
                .cal-car-sub-inner-sub1 {
                    .cal-car-sub-inner-sub-inner1 {
                        color: var(--neutrals-white);
                        font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                        font-family: var(--TItle, Inter);
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                    }

                    .cal-car-sub-inner-sub-inner2 {
                        color: var(--neutrals-white);
                        font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                        font-family: var(--Body, Inter);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }

            .cal-car-sub-inner3 {
                .cal-car-sub-inner-sub1 {
                    border-radius: var(--Border-Radius-8, 8px);
                    border: 1px solid var(--Button-Primary-Default, #2E2A94);
                    background: var(--neutrals-white);
                    color: var(--Text-Button-Default, #2E2A94);
                    text-align: center;
                    font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                    font-family: var(--Body, Inter);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
        }
    }
}

.section.partner-amc {
    .default-content-wrapper {
        .choose-us-para1 {
            color: var(--blue-1-800-primary);
            font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
            font-family: var(--TItle, Inter);
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            margin-bottom: 4px;
        }

        p {
            color: var(--blue-1-800-primary);
            font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
            font-family: var(--Body, Inter);
            font-size: var(--Body-Small-regular-Size);
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 44px;
        }
    }
}

.section.mo-partner {
    padding: 80px 0;

    .default-content-wrapper {
        display: flex;
        padding: 40px 45px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 16px;
        background: var(--neutrals-200);

        .mo-partner-list1 {
            .mo-partner-txt1 {
                .mo-partner-subtxt1 {
                    margin: unset;

                    .mo-partner-subtxt-item1 {
                        .mo-partner-subtxt-item-content1 {
                            display: flex;
                            height: 80px;
                            align-items: center;
                            gap: 16px;
                            align-self: stretch;
                            margin: unset;

                            .mo-partner-subtxt-item-content-detail1 {
                                .icon-mo-partner {
                                    width: 80px;
                                    height: 80px;
                                    aspect-ratio: 1/1;
                                }
                            }

                            .mo-partner-subtxt-item-content-detail2 {
                                color: var(--blue-1-800-primary);
                                font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                                font-family: var(--TItle, Inter);
                                font-size: 32px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 40px;
                            }
                        }
                    }

                    .mo-partner-subtxt-item2 {
                        .mo-partner-subtxt-item-content1 {
                            margin-top: 24px;
                            margin-bottom: unset;

                            .mo-partner-subtxt-item-content-detail1 {
                                p {
                                    margin: unset;
                                    color: var(--neutrals-900);
                                    font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                                    font-family: var(--Body, Inter);
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 20px;
                                }

                                ul {
                                    margin-top: 16px;
                                    margin-bottom: 24px;

                                    li {
                                        color: var(--neutrals-black);
                                        font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                                        font-family: var(--Body, Inter);
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 20px;
                                    }
                                }
                            }
                        }
                    }

                    .mo-partner-subtxt-item3 {
                        .mo-partner-subtxt-item-content1 {
                            display: flex;
                            padding: 16px 0;
                            align-items: center;
                            gap: 16px;
                            align-self: stretch;
                            margin: unset;
                            border-top: 1px solid var(--neutrals-400);

                            .mo-partner-subtxt-item-content-detail1 {
                                width: 100%;
                                max-width: 319px;
                                color: var(--neutrals-900);
                                font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;

                                font-family: var(--Body, Inter);
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;

                                ul {
                                    margin-top: 4px;
                                    margin-bottom: unset;

                                    li {
                                        ul {
                                            margin-top: 4px;
                                            margin-bottom: unset;

                                            li {
                                                color: var(--neutrals-900, #212121);
                                                font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                                                font-family: var(--Body, Inter);
                                                font-size: 16px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: 20px;
                                            }
                                        }
                                    }
                                }


                            }

                            .mo-partner-subtxt-item-content-detail2 {
                                display: flex;
                                width: 192px;
                                height: 40px;
                                padding: 12px;
                                justify-content: center;
                                align-items: center;
                                gap: 8px;
                                border-radius: var(--Border-Radius-8, 8px);
                                background: var(--blue-1-800-primary);
                                color: var(--neutrals-white);
                                text-align: center;
                                font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                                font-family: var(--Body, Inter);
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 20px;
                            }
                        }
                    }
                }

            }
        }

        .mo-partner-txt2 {
            .mo-partner-subtxt1 {
                margin: unset;
                display: flex;
                align-items: center;
                gap: 18px;
                align-self: stretch;

                .mo-partner-subtxt-item1 {
                    .mo-partner-subtxt-item-content1 {
                        .mo-partner-subtxt-item-content-detail1 {
                            display: flex;
                            width: 56px;
                            height: 56px;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .mo-partner-subtxt-item2 {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding-right: 22px;

                    .mo-partner-subtxt-item-content2 {
                        .mo-partner-subtxt-item-content-detail1 {
                            color: var(--neutrals-900);
                            font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                            font-family: var(--Body, Inter);
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                        }

                        .mo-partner-subtxt-item-content-detail2 {
                            font-size: unset;
                            line-height: 16px;

                            a {
                                color: var(--neutrals-900);
                                font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                                font-family: var(--Body, Inter);
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 16px;
                            }
                        }
                    }
                }

                .mo-partner-subtxt-item3 {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .mo-partner-subtxt-item-content-detail1 {
                        color: var(--neutrals-900);
                        font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                        font-family: var(--Body, Inter);
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                    }

                    .mo-partner-subtxt-item-content-detail2 {
                        font-size: unset;
                        line-height: 16px;

                        a {
                            color: var(--neutrals-900);
                            font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
                            font-family: var(--Body, Inter);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 16px;
                        }
                    }
                }
            }
        }

        .mo-partner-list2 {
            position: relative;
            top: 54px;
        }
    }
}