@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.calc-cards {
  margin-bottom: 80px;

  @include media(mobile) {
    margin-bottom: 40px;
  }

  .cards-wrapper {
    .cards {
      .cal-item-inner1 {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        >.comlist {
          position: relative;
          display: flex;
          max-width: 400px;
          width: 100%;
          height: 360px;
          padding: 24px 16px 0;
          flex-direction: column;
          align-items: flex-start;
          gap: 36px;
          flex-shrink: 0;
          grid-row: 1 / span 1;
          grid-column: 1 / span 1;
          border-radius: 12px;
          background: var(--neutrals-100);
          border: none;

          @include media(mobile) {
            height: 360px;
          }

          .cards-card-image {
            position: absolute;
            bottom: 0;
            right: 0;

            .sub-cal-item-inner1 {
              img {
                border-bottom-right-radius: 20px;
                aspect-ratio: unset;
              }
            }
          }

          .cards-card-body {
            margin: 0;

            .sub-cal-item-inner1 {
              list-style: none;
              margin: 0;
              margin-bottom: 8px;

              h6 {
                color: var(--blue-1-800-primary);
                font-family: var(--title);
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                margin: 0;

                @include media(mobile) {
                  font-size: 20px;
                  line-height: 24px;
                }
              }
            }

            .sub-cal-item-inner2 {
              color: var(--neutrals-black);
              font-family: var(--body);
              font-size: var(--body-small-regular-size);
              font-style: normal;
              font-weight: 400;
              line-height: var(--label-large-line-height);
              margin: 0;
            }

            .sub-cal-item-inner3 {
              position: absolute;
              top: 10px;
              right: 10px;
              margin: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 32px;
              height: 32px;


              .button {
                background-color: transparent;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;


                .icon-cal-vector {
                  display: flex;
                  width: 32px;
                  height: 32px;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                  aspect-ratio: 1/1;
                  border-radius: var(--border-radius-circle);
                  background: var(--blue-1-800-primary);
                  margin: 0;

                  // position: absolute;
                  // top: 10px;
                  // right: 10px;

                  img {
                    width: 11px;
                    height: 11px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.section.partner-blog {
  .default-content-wrapper {
    .cal-item-sub1 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--blue-1-800-primary);
      text-align: center;
      font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
      font-family: var(--TItle, Inter);
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      padding-bottom: 40px;

      @include media(mobile) {
        font-size: 28px;
        line-height: 24px;
        padding-bottom: 24px;
        margin-top: unset;
        margin-bottom: unset;
      }
    }
  }

  .cards-wrapper {
    .cards {
      .cal-item-inner1 {
        .sub-cal-item1 {
          .sub-inner-cal-item2 {
            .sub-cal-item-inner1 {
              color: var(--Neutrals-900, #212121);
              font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
              font-family: var(--Body, Inter);
              font-size: var(--Sub-Header-Medium-Size, 20px);
              font-style: normal;
              font-weight: 500;
              line-height: var(--Sub-Header-Medium-Line-Height, 28px);
            }

            .sub-cal-item-inner2 {
              color: var(--Neutrals-Black, #111);
              font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
              font-family: var(--Body, Inter);
              font-size: var(--Body-Small-regular-Size, 14px);
              font-style: normal;
              font-weight: 400;
              line-height: var(--Label-Large-Line-Height, 20px);


            }
          }
        }
      }
    }
  }
}


.section.section.partner-blog .cards-wrapper .cards .cal-item-inner1>.comlist .cards-card-body .sub-cal-item-inner3 {
  display: block;
  position: unset;
  width: unset;
  height: unset;
  color: var(--neutrals-black);
  font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
  font-family: var(--Body, Inter)+;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 30px;

  @include media(mobile) {
    padding-left: 31px;
  }
}