@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

/* Scoping to .gift-city to ensure we don't break other card blocks */
.section.gift-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 60px 0 80px 0;

  .cards.block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      /* The Card Item (li) */
      li {
        display: flex;
        width: 1232px;
        align-items: center;
        gap: 24px;
        max-width: 100%; 

        .cards-card-image {
          display: flex;
          width: 603px;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          flex-shrink: 0;

          img {
            aspect-ratio: unset;
          }
        }

        /* Right Side: Body/Text Container */
        .cards-card-body {
          display: flex;
          width: 605px;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          flex-shrink: 0;
        }
      }
    }
  }
}

