@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.things-keep-mind.cards-container {
    padding: 40px 0;
    margin: 0;

    // @include media (mobile-ed) {
    //     padding: 0;
    // }

    >.default-content-wrapper {
        margin-bottom: 40px;

        @include media (mobile-ed) {
            margin-bottom: 20px;
        }

        h4 {
            color: var(--blue-1800-primary, #2E2A94);
            text-align: center;
            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
            font-family: var(--title, Inter);
            font-size: var(--heading-h4-size, 32px);
            font-style: normal;
            font-weight: 600;
            line-height: var(--heading-h4-line-height, 40px);

            @include media (mobile-ed) {
                text-align: left;
                margin: 0;
            }
        }
    }

    .cards-wrapper {
        .cards {
            ul {
                gap: 16px;

                @include media (mobile-ed) {
                    gap: 10px;
                }

                li {
                    border: unset;
                    background: unset;

                    .cards-card-image {
                        width: 296px;
                        height: 160px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        background: var(--blue-1-50, #D5DEFF);

                        @include media (mobile-ed) {
                            width: 340px;
                        }

                        img {
                            aspect-ratio: inherit;
                        }
                    }

                    .cards-card-body {
                        display: flex;
                        padding: var(--spacing-24, 24px) 0;
                        margin: 0;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 24px;
                        align-self: stretch;

                        p {
                            margin: 0;
                            color: var(--neutrals-900, #212121);
                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                            font-family: var(--body, Inter);
                            font-size: var(--body-large-medium-size, 18px);
                            font-style: normal;
                            font-weight: 500;
                            line-height: var(--body-large-medium-line-height, 24px);
                        }
                    }
                }
            }
        }
    }
}