@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.unclaimed-redemption {

    .section-container {
        background: var(--neutrals-100);
        max-width: unset;

        .container {
            max-width: 1232px;
            margin: 0 auto;
            display: flex;
            gap: 120px;
            padding: 60px 0;

            .cards-wrapper {
                max-width: 504px;
                width: 100%;

                .cards.block {
                    ul.card-li1 {

                        min-height: 504px;
                        height: 100%;
                        position: relative;

                        li.card-content1 {
                            display: flex;
                            // flex-direction: column-reverse;
                            gap: 30px;
                            border-radius: 12px;
                            background: var(--neutrals-white);
                            // background: peru;
                            padding: 40px 40px 0;
                            border: unset;

                            .cards-card-image {
                                position: absolute;
                                right: 0;
                                bottom: 0;

                                .card-contentinner-img2 {
                                    aspect-ratio: unset;
                                    border-bottom-right-radius: 12px;
                                }
                            }

                            .cards-card-body {
                                margin: unset;
                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                .comlist {
                                    margin: unset;
                                }

                                .card-contentinner-picture1 {
                                    color: var(--blue-1-800-primary);
                                    font-family: var(--title);
                                    font-size: 32px;
                                    font-weight: 600;
                                    line-height: 40px;
                                }

                                .card-contentinner-picture2 {
                                    color: var(--blue-1-800-primary);
                                    font-family: var(--body);
                                    font-size: var(--body-medium-regular-size);
                                    font-weight: 400;
                                    line-height: var(--body-medium-regular-line-height);
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}