/*   alpha-value-notation */

/*   media-feature-range-notation */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;
@import '../swiper/swiper-bundle.min.css';


.pws-hero-section {
  margin: 0;
  padding: 0;

  .hero-wrapper {
    max-width: 100%;
    position: relative;

    @include media(mobile) {
      padding: unset;
    }

    .comlist.para1 {
      .comlist.p21 {
        line-height: 0;
        font-size: 0;

        .p31 {
          img {
            width: 100%;
            height: 681px;
            flex-shrink: 0;
            aspect-ratio: 1366/681;

            @include media(mobile) {
              width: 100%;
              height: 718px;
              flex-shrink: 0;
              aspect-ratio: 186/359;
            }

          }
        }
      }

    }

    .comlist.para2 {
      .comlist.p21 {
        position: absolute;
        top: 202px;
        left: 67px;
        max-width: 554px;

        @include media(mobile) {
          top: 474px;
          right: 16.5px;
          left: 13.5px;
        }

        p {
          color: white;
        }

        .p31 {
          color: var(--neutrals-white);
          font-family: var(--body);
          font-size: 64px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          width: 100%;
          align-self: stretch;

          @include media(mobile) {
            color: var(--neutrals-white);
            font-feature-settings: 'liga' off;
            font-family: var(--body);
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            max-width: 100%;
            width: 100%;
          }

        }

        .p32 {
          color: #FFF;
          font-family: var(--body);
          font-size: var(--body-large-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--body-large-regular-line-height);

          /* 155.556% */
          width: 500px;

          @include media(mobile) {
            color: var(--text-white, #FFF);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--paragraph-small-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--paragraph-small-line-height);
            max-width: 100%;
            width: 100%;
          }


        }

        .p33 {
          border-radius: var(--border-radius-8);
          display: flex;
          width: 160px;
          height: 40px;
          padding: var(--spacing-12);
          justify-content: center;
          align-items: center;
          gap: var(--spacing-8);

          a {
            border-radius: var(--border-radius-8);
            background: var(--neutrals-white);
            color: var(--text-button-default);
            text-align: center;
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--button-medium-size);
            font-style: normal;
            font-weight: 500;
            line-height: var(--button-medium-line-height);
            position: absolute;
            left: 0;
          }
        }
      }

    }
  }

}

// OUR STARATEGIES

.our-strategies {
  h2 {
    color: var(--blue-1-800-primary);
    font-feature-settings: var(--font-features-default);
    font-family: var(--title);
    font-size: var(--heading-h3-size);
    font-style: normal;
    font-weight: 500;
    line-height: var(--heading-h3-line-height);
    margin-bottom: 20px;

    @include media(mobile) {
      margin-bottom: 24px;
    }
  }

  .strategy-wrapper {
    display: flex;
    justify-content: space-between;

    @include media(mobile) {
      flex-direction: column-reverse;

    }

    .strategy11 {
      display: flex;
      flex-direction: column;
      max-width: 608px;
      width: 100%;
      margin: 0;

      .li-wrapper-1 {
        padding: 20px 0 32px;
        border-bottom: 1px solid var(--neutrals-300);

        .strategy21.comlist {
          color: var(--blue-1-800-primary);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-xlarge-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--body-xlarge-regular-line-height);
          text-decoration: none;
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;

          &::marker {
            content: none;

          }

          .strategy31 {
            width: 26px;
            height: 24px;



            img {
              @include media(mobile) {
                width: 26px;
                height: 24px;
              }
            }

          }

          @include media(mobile) {
            color: var(--blue-1-800-primary);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--body-xlarge-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--body-xlarge-regular-line-height);
            text-decoration: none;
            width: 100%;
            margin-bottom: 12px;
            height: 100%;
          }
        }

        .strategy22 {
          color: var(--neutrals-700);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-small-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--label-large-line-height);
          text-decoration: none;
          width: 497px;

          &::marker {
            content: none;

          }

          @include media(mobile) {
            color: var(--neutrals-700);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--body-small-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--label-large-line-height);
            align-self: stretch;
            width: 100%;
          }


        }
      }

      .li-wrapper-2 {
        padding: 32px 0;
        border-bottom: 1px solid var(--neutrals-300);

        .strategy23 {
          color: var(--blue-1-800-primary);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-xlarge-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--body-xlarge-regular-line-height);
          text-decoration: none;
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;

          &::marker {
            content: none;

          }

          .strategy31.icon {
            width: 26px;
            height: 24px;

            @include media(mobile) {
              width: 26px;
              height: 24px;
            }

          }



          @include media(mobile) {
            color: var(--blue-1-800-primary);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--body-xlarge-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--body-xlarge-regular-line-height);
            text-decoration: none;
            width: 100%;
            margin-bottom: 12px;
            height: 100%;
          }
        }

        .strategy24 {
          color: var(--neutrals-700);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-small-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--label-large-line-height);
          text-decoration: none;
          width: 497px;


          &::marker {
            content: none;

          }

          @include media(mobile) {
            color: var(--neutrals-700);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--body-small-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--label-large-line-height);
            align-self: stretch;
            width: 100%;
          }
        }


      }

      .li-wrapper-3 {
        padding: 32px 0;
        border-bottom: 1px solid var(--neutrals-300);

        li.strategy25 {
          color: var(--blue-1-800-primary);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-xlarge-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--body-xlarge-regular-line-height);
          text-decoration: none;
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;


          &::marker {
            content: none;
          }

          .strategy31.icon {
            width: 26px;
            height: 24px;
          }

          @include media(mobile) {
            width: 26px;
            height: 24px;
          }

          @include media(mobile) {
            color: var(--blue-1-800-primary);
            font-family: var(--body);
            font-size: var(--body-xlarge-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--body-xlarge-regular-line-height);
            width: 100%;
            margin-bottom: 12px;
            height: 100%;
          }
        }

        .strategy26 {
          color: var(--neutrals-700);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-small-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--label-large-line-height);
          text-decoration: none;
          width: 497px;

          &::marker {
            content: none;

          }

          .icon-vector-arrow {
            width: 26.5px;
            height: 15px;

          }

          @include media(mobile) {
            color: var(--neutrals-700);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--body-small-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--label-large-line-height);
            align-self: stretch;
            width: 100%;
          }
        }
      }

      .li-wrapper-4 {
        padding: 32px 0;
        border-bottom: 1px solid var(--neutrals-300);

        .strategy27 {
          color: var(--blue-1-800-primary);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-xlarge-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--body-xlarge-regular-line-height);
          text-decoration: none;
          display: flex;
          justify-content: space-between;

          &::marker {
            content: none;
          }

          .icon-vector-arrow {
            width: 26.5px;
            height: 15px;
          }

          @include media(mobile) {
            color: var(--blue-1-800-primary);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--body-xlarge-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--body-xlarge-regular-line-height);
            width: 100%;
            margin-bottom: 12px;
            height: 100%;
          }
        }

        .strategy28 {
          color: var(--neutrals-700);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-small-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--label-large-line-height);
          text-decoration: none;
          width: 497px;

          &::marker {
            content: none;

          }

          @include media(mobile) {
            color: var(--neutrals-700);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--body-small-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--label-large-line-height);
            align-self: stretch;
            width: 100%;
          }
        }
      }

      .li-wrapper-5 {
        padding: 32px 0;
        border-bottom: 1px solid var(--neutrals-300);

        .strategy29 {
          color: var(--blue-1-800-primary);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-xlarge-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--body-xlarge-regular-line-height);
          display: flex;
          justify-content: space-between;


          &::marker {
            content: none;

          }

          .icon-vector-arrow {
            width: 26.5px;
            height: 15px;

          }


          @include media(mobile) {
            color: var(--blue-1-800-primary);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--body-xlarge-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--body-xlarge-regular-line-height);
            width: 100%;
            margin-bottom: 12px;
            height: 100%;
          }


        }

        .strategy210 {
          color: var(--neutrals-700);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--body-small-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--label-large-line-height);
          text-decoration: none;
          width: 497px;

          &::marker {
            content: none;

          }

          @include media(mobile) {
            color: var(--neutrals-700);
            font-feature-settings: var(--font-features-default);
            font-family: var(--body);
            font-size: var(--body-small-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--label-large-line-height);
            align-self: stretch;
            width: 100%;
          }
        }
      }
    }

    .strategy12 {
      line-height: 0;
      font-size: 0;

      .strategy21 {
        .strategy34 {
          width: 100%;
          max-width: 100%;
          height: 100%;
          aspect-ratio: 3/4;
        }

      }
    }


  }

  .text-wrap {
    max-width: 302px;
    width: 100%;
  }
}

.mo-inter-business.hero-container {
  background: var(--blue-1-900, #242177);

  .mo-inter-sec1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding: 40px 0;

    @include media (mobile) {
      padding: 40px 0;
    }


    .mo-inter-sub2 {
      @include media (mobile) {
        width: 100%;
        padding-top: 37px;
      }

      .mo-inter-inner-text1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

                h1, h2, h3, h4, h5, h6 {
          margin: 0;
          color: var(--neutrals-white, #FFF);
          text-align: center;
          font-feature-settings: var(--font-features-default);
          font-family: var(--title, Inter);
          font-size: var(--heading-h4-size, 32px);
          font-style: normal;
          font-weight: 600;
          line-height: var(--heading-h4-line-height, 40px);

          @include media (mobile) {
            font-size: var(--heading-h4-size);
            line-height: var(--sub-header-large-line-height);
          }
        }

        p.comlist {
          margin: 0;
          color: var(--neutrals-white, #FFF);
          text-align: center;
          font-feature-settings: var(--font-features-default);
          font-family: var(--body, Inter);
          font-size: var(--body-medium-regular-size, 16px);
          font-style: normal;
          font-weight: 400;

          // line-height: var(--body-medium-regular-line-height, 24px);
          line-height: 24px;
          padding: 0 134px;

          @include media (mobile) {
            font-size: var(--paragraph-small-regular-size, 14px);
            line-height: var(--paragraph-small-regular-line-height, 20px);
            padding: 0;
          }
        }
      }
    }

    .mo-inter-sub1 {
      .mo-inter-inner-text1 {
        height: 347px;

        @include media (mobile) {
          height: 270px;
        }
      }

      @include media (mobile) {
        margin-bottom: 37px;
      }
    }
  }
}


/* NRI Account Start */
.section.mo-inter-business.hero-container.nri-hero {
  // background-color: red;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;


  .hero-wrapper {
    max-width: 100%;
    width: 100%;

    @include media(mobile) {
      padding: 0;
    }

    .hero {
      padding: 77px 0 0;
      gap: 33px;
      max-width: 100%;
      width: 100%;

      @include media(mobile) {
        padding: 59px 0 0;
      }

      .mo-inter-sub1 {
        width: 100%;
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;

        @include media(mobile) {
          height: 277px;
          margin: 0;
        }

        .mo-inter-inner-text1 {
          height: 177px;
          background: #382AD7;

          @include media(mobile) {
            height: 101px;
          }

          .mo-inter-list1 {
            line-height: 0;
            height: 100%;
            display: block;
            max-width: 1366px;
            margin: 0 auto;
            position: relative;

            .mo-inter-list-content4 {
              max-width: 505.495px;
              height: 347.001px;
              flex-shrink: 0;
              object-fit: cover;
              position: absolute;
              top: -215px;
              left: 28%;

              @include media(mobile) {
                width: 292.464px;
                height: 200.765px;
                flex-shrink: 0;
                left: 28px;
                top: -139px;
              }
            }
          }
        }
      }

      .mo-inter-sub2 {
        max-width: 588px;
        padding-top: 40px;

        @include media(mobile) {
          padding: 40px 16px 0;
        }

        .mo-inter-inner-text1 {
          .mo-inter-list2 {
            padding: 0;
          }
        }
      }
    }

  }

}

/* NRI Account End */


.section.mo-inter-business.gift-hero {
  .hero-wrapper {
    max-width: 100%;
    width: 100%;

    @include media (mobile) {
      padding: 0;
    }


    .mo-inter-sec1 {
      padding: 40px 67px 0;


      @include media (mobile) {
        padding: 0;
      }

      .mo-inter-sub1 {
        @include media (mobile) {
          margin: 0;
        }

      }

      .mo-inter-sub2 {
        max-width: 878px;

      }

      .mo-inter-inner-text1 {
        .mo-inter-list-content4 {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .mo-inter-sub2 {
      @include media (mobile) {
        padding: 40px 16px 0;
      }

    }
  }

}

// Customized Section Start 
.section.customized-section {
  background-color: #F5F5F5;
  margin: 0;

  .custom-wrapper {
    border-radius: 12px;
    padding: 36px 16px 80px;

    @media (width > 900px) {
      padding: 40px 0 80px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1232px;
    }

    .customize-wrap1 {
      margin: 0;

      .customize-inner1 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 12px;
        background-color: #FFFF;
        margin-bottom: 40px;
        padding: 40px 16px 0;
        position: relative;
        justify-content: start;
        min-height: 255px;

        @media (width > 900px) {
          max-width: 450px;
          padding: 40px 40px 0;
          margin-bottom: unset;
          min-height: 492px;
        }

        .customize-img-wrap1 {
          .customize-img1 {
            .customize-title1 {
              .customize-subtitle4 {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 228.877px;
                height: 130px;

                @media (width > 900px) {
                  width: 304.125px;
                  height: 218.247px;
                }
              }
            }
          }
        }

        .customize-img-wrap2 {
          .customize-img1 {
            .customize-title1 {
              color: #2E2A94;
              font-feature-settings: var(--font-features-default);
              font-family: var(--title);
              font-size: 28px;
              font-style: normal;
              font-weight: 600;
              line-height: 32px;
              margin: 0;
              width: 100%;

              @media (width > 900px) {
                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
                max-width: 370px;
                margin: 0 0 4px;
              }
            }

            .customize-title2 {
              color: var(--blue-1-800-primary);
              font-feature-settings: var(--font-features-default);
              font-family: var(--body);
              font-size: var(--paragraph-small-regular-size);
              font-weight: 400;
              line-height: var(--paragraph-small-regular-line-height);
              margin: 0 0 36px;
              width: 100%;

              @media (width > 900px) {
                font-size: var(--body-medium-regular-size);
                line-height: var(--body-medium-regular-line-height);
                max-width: 370px;
              }
            }
          }
        }
      }
    }
  }

  .quick-purchase-block-wrapper.customize-wrap2 {
    margin: 0;

    .purchase-form {
      width: 100%;
      background: #fff;
      padding: 40px 16px;
      border-radius: 16px;
      box-shadow: 0 0 8px rgb(0 0 0 / 6%);
      border: 1px solid #ebebf9;

      @media (width > 900px) {
        width: 712px;
        padding: 24px;
      }

      .form-group:has(input[type="text"]) {
        position: relative;
        margin-bottom: 40px;
        width: 100%;

        @media (width > 900px) {
          margin-bottom: 36px;
        }

        input[type="text"] {
          width: 100%;
          padding: 8px 12px;
          border: 1px solid #ccc;
          border-radius: 8px;
          color: var(--text-typed-input);
          font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on,
            'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
          font-family: var(--body);
          font-size: var(--body-medium-regular-size);
          font-weight: 400;
          line-height: var(--body-medium-regular-line-height);

          @media (width > 900px) {
            max-width: 320px;
          }

          &::placeholder {
            opacity: 0;
            transition: opacity 0.2s ease;
            color: #999;
          }

          &:focus::placeholder {
            opacity: 1;
          }
        }

        label {
          position: absolute;
          left: 14px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #fff;
          font-feature-settings: var(--font-features-default);
          color: var(--text-typed-input);
          font-size: var(--body-medium-regular-size);
          font-weight: 400;
          font-family: var(--Body);
          pointer-events: none;
          transition: all 0.2s ease-out;
          z-index: 10;
          margin-bottom: 0;
        }

        &:focus-within label,
        &:has(input:not(:placeholder-shown)) label {
          top: 0;
          transform: translateY(-50%);
          font-family: var(--body);
          font-size: var(--label-small-size);
          font-weight: 400;
          line-height: var(--label-small-line-height);
        }
      }

      .form-group:not(:has(input[type="text"])) {
        position: relative;
        margin-bottom: 40px;

        @media (width > 900px) {
          margin-bottom: 36px;
        }

        label {
          margin-bottom: 8px;
          overflow: hidden;
          color: var(--text-body);
          font-family: var(--body);
          font-size: var(--label-small-size);
          font-weight: 400;
          line-height: var(--label-small-line-height);

          .required {
            color: red;
            margin-left: 2px;
          }
        }
      }

      .scheme-select-wrapper {
        width: 100%;
        padding: 8px 12px;
        border: var(--border-width-01) solid var(--strokes-default);
        border-radius: 8px;
        font-family: var(--body);
        font-size: var(--body-medium-regular-size);
        color: var(--text-typed-input);
        height: 48px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        position: relative;

        &::after {
          content: '';
          border: solid #333;
          border-width: 0 2px 2px 0;
          padding: 3px;
          transform: rotate(45deg);
          margin-left: 10px;
          margin-bottom: 2px;
        }

        .dropdown-list {
          display: none;
          position: absolute;
          top: 100%;
          left: -1px;
          background-color: var(--neutrals-white);
          box-shadow: rgba(47, 64, 84, 0.12) 0px 4px 16px 0px;
          border-radius: 6px;
          width: 100%;
          margin: 1px 0 0;
          max-height: 216px;
          overflow: auto;
          list-style: none;
          z-index: 8;

          .returnyears {
            padding: 16px;

            &:hover {
              background: var(--blue-1-25);
            }

            &:focus,
            &:focus-visible {
              background: var(--blue-1-50);
            }
          }
        }

        .selectedtext {
          margin: 0;
          color: var(--text-typed-input);
          font-family: var(--body);
          font-size: var(--body-medium-regular-size);
          font-weight: 400;
          line-height: var(--body-medium-regular-line-height);
        }
      }

      .transaction-types {
        display: flex;
        gap: 8px;

        label {
          flex: 1;
          text-align: center;
          padding: 8px 12px;
          border: 1px solid #ccc;
          border-radius: 20px;
          cursor: pointer;
          transition: all 0.2s ease;
          margin-bottom: 0;
          font-size: var(--label-small-size);
          color: var(--text-body-2);
          font-feature-settings: var(--font-features-default);
          line-height: var(--label-small-line-height);
          width: 100%;
          font-family: var(--body);

          @media (width > 900px) {
            max-width: 104px;
          }

          input[type="radio"] {
            display: none;
          }

          &:has(input:checked) {
            background-color: #ebebf9;
            border-color: #3f3e8f;
            color: #3f3e8f;
            font-weight: 600;
          }
        }
      }

      .select-option {
        display: flex;
        gap: 0;
        align-items: center;
        flex-direction: column;

        @media (width > 900px) {
          flex-direction: row;
          gap: 20px;
        }

        .radio-section {
          width: 100%;
          margin-bottom: 40px;

          @media (width > 900px) {
            margin-top: -28px;
            margin-bottom: unset;
          }

          .select-radio {
            display: flex;
            gap: 20px;
            width: 100%;
          }
        }

        label {
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          margin-bottom: 0;
          font-size: 14px;
          color: #333;

          input[type="radio"] {
            accent-color: #3f3e8f;
            width: 18px;
            height: 18px;
          }
        }
      }

      .grid {
        display: flex;
        flex-direction: column;

        @media (width > 900px) {
          flex-direction: row;
          gap: 24px;

          .form-group {
            flex: 1;
            margin-bottom: 0;
          }
        }
      }

      .form-actions {
        display: flex;
        gap: 16px;
        margin-bottom: 40px;
        flex-direction: column;

        @media (width > 900px) {
          gap: 12px;
          margin-bottom: 36px;
          flex-direction: row;
        }

        button {
          flex: 1;
          padding: 14px;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          transition: opacity 0.2s;

          &.btn-reset {
            color: var(--text-button-default);
            font-family: var(--body);
            font-size: var(--button-medium-size);
            font-weight: 500;
            background-color: unset;
            border-radius: var(--border-radius-8);
            border: 1px solid var(--button-primary-default);
            width: 100%;

            @media (width > 900px) {
              width: 50%;
            }
          }

          &.btn-submit {
            color: var(--text-white);
            font-family: var(--body);
            font-size: var(--button-medium-size);
            font-weight: 500;
            border-radius: var(--border-radius-8);
            background: var(--button-primary-default);
            width: 100%;

            @media (width > 900px) {
              width: 50%;
            }
          }
        }
      }

      .share-url-section {
        .share-title {
          color: var(--blue-1-800-primary);
          font-family: var(--body);
          font-weight: 600;
          font-size: var(--body-large-semibold-size);
          line-height: var(--body-xlarge-bold-line-height);
          margin: 0 0 16px;

          @media (width > 900px) {
            font-size: var(--body-xlarge-bold-size);
          }
        }

        .share-url-box {
          display: flex;
          align-items: center;
          padding: 12px;
          justify-content: space-between;
          border-radius: 8px;
          background: #F5F5F5;
          flex-direction: column;

          @media (width > 900px) {
            flex-direction: row;
          }

          .generated-url {
            flex: 1;
            border: none;
            color: var(--text-body-2);
            font-family: var(--body);
            font-size: var(--body-medium-regular-size);
            font-weight: 400;
            background: transparent;
            outline: none;
            margin-bottom: 30px;

            @media (width > 900px) {
              margin-bottom: unset;
            }
          }

          .share-icons-wrapper {
            display: flex;
            gap: 16px;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;

            @media (width > 900px) {
              width: 32px;
              height: 32px;
            }

            .social-btn {
              width: 100%;
              height: 100%;
            }
          }
        }

        .select-option {
          display: flex;
          align-items: flex-start;

          @media (width > 900px) {
            flex-direction: row;
          }

          .select-schema-radio {
            width: 100%;

            @media (width > 900px) {
              width: 50%;
            }
          }

          .radio-section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 40px;
            width: 100%;

            @media (width > 900px) {
              flex-direction: column;
              margin-top: -4px;
              width: 100%;
            }
          }
        }
      }
    }

    .error-msg {
      font-size: var(--paragraph-xsmall-size);
      line-height: var(--paragraph-xsmall-line-height);
      font-family: var(--body);
      font-weight: 400;
      color: var(--text-error);
      margin-top: 8px;
      position: absolute;
      left: 0;
      top: 100%;
      display: none;
    }
  }
}
