@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

main.nfo-nav {
  .previous-studies-ctn.section:first-of-type {
    margin-top: 72px;

    @include media(mobile) {
      margin-top: 0;
    }
  }
}

// previous-studies start
.section.previous-studies-ctn.tabs-container.legendwordctn {
  margin-top: 21px;

  @include media(mobile) {
    margin-top: 0;
  }
}

.previous-studies-ctn.tabs-container {
  color: var(--blue-1-800-primary);
  font-family: var(--title, Inter);
  font-size: var(--heading-h1-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--heading-h1-line-height);

  @include media(mobile) {
    font-size: var(--heading-h5-size);
    line-height: var(--sub-header-large-line-height);
  }

  .default-content-wrapper.previous-studies-ex1 {
    padding: 0 0 40px;
    margin-top: 40px;

    @include media(mobile) {
      padding: 40px 16px 32px;
      margin-top: 0;
    }

    .previous-studies-inter1 {
      margin: 0;
      color: var(--blue-1-800-primary);
      font-family: var(--title);
      font-size: var(--heading-h1-size);
      font-style: normal;
      font-weight: 600;
      line-height: var(--heading-h1-line-height);

      @include media(mobile) {
        color: var(--blue-1-800-primary);
        font-family: var(--title);
        font-size: var(--heading-h5-size, 28px);
        font-style: normal;
        font-weight: 600;
        line-height: var(--sub-header-large-line-height);
      }
    }
  }

  .previous-studies-ex2 {
    @include media(mobile) {
      padding: 0;
    }

    .tabs-list {
      gap: 8px;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      @include media(mobile) {
        padding: 0 16px;
      }

      .tabs-tab {
        border-radius: var(--border-radius-circle);
        padding: 8px 12px;
        border: var(--border-width-01) solid var(--strokes-disabled);
        background: var(--surface-disabled);

        &.active {
          border: var(--border-width-01) solid var(--strokes-selected);
          background: var(--surface-selected);

          .comlist {
            color: #2e2a94;
            font-family: var(--body);
            font-size: var(--body-small-medium-size);
            font-style: normal;
            font-weight: 500;
            line-height: var(--body-small-medium-line-height);
          }
        }

        .previous-studies-txt1 {
          color: var(--text-body, #424242);
          font-family: var(--body, Inter);
          font-size: var(--body-small-regular-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--label-large-line-height);
        }
      }
    }

    .tabs-panel {
      border: none;
      padding: 40px 0;
      margin: 0;

      @include media(mobile) {
        padding: 52px 0 72px;
      }
    }
  }
}

// previous-studies end

// About Page - Behind Mission Component scss Start
.section.previous-studies-ctn.behind-mission {
  .previous-studies-ex {
    &1 {
      padding: 0 0 20px;
      margin: 0 auto;

      @include media(mobile) {
        padding: 0 16px;
      }

      .previous-studies-inter {
        &1 {
          @include font-style(
            var(--heading-h4-size),
            var(--heading-h4-line-height),
            var(--blue-1-800-primary),
            600,
            var(--title)
          );

          margin: 0 0 8px;
          text-align: center;

          @include media(mobile) {
            font-size: 28px;
            line-height: var(--sub-header-large-line-height);
            margin: 0 0 4px;
            text-wrap-style: balance;
            max-width: 100%;
          }
        }

        &2 {
          @include font-style(
            var(--body-medium-regular-size),
            24px,
            var(--blue-1-800-primary),
            400,
            var(--body)
          );

          text-align: center;
          margin: 0;

          @include media(mobile) {
            font-size: var(--paragraph-small-regular-size);
            line-height: var(--paragraph-small-regular-line-height);
            text-wrap-style: balance;
          }
        }
      }
    }

    &2 {
      .tabs-list {
        display: flex;
        justify-content: center;
        gap: 8px;
        overflow: auto hidden;
        scrollbar-width: none;

        @include media(mobile) {
          display: none;
        }

        .tabs-tab {
          border-radius: var(--border-radius-circle);
          border: var(--border-width-01) solid var(--strokes-disabled);
          background: var(--surface-disabled);
          padding: var(--spacing-8) var(--spacing-12);
          flex: unset;

          .previous-studies-txt1 {
            @include font-style(
              var(--body-small-regular-size),
              var(--body-small-regular-line-height),
              var(--text-body),
              400,
              var(--body)
            );
          }

          &.active {
            border: var(--border-width-01) solid var(--strokes-selected);
            background: var(--surface-selected);

            .previous-studies-txt1 {
              @include font-style(
                var(--body-small-medium-size),
                var(--body-small-medium-line-height),
                var(--text-button-default),
                500,
                var(--body)
              );
            }
          }
        }
      }

      .tabs-panel {
        padding: 40px 0;
        margin: 0;
        border: none;
        overflow: unset;

        @include media(mobile) {
          padding: 40px 16px;
        }

        .section.behind-mission-tab {
          margin: 0;

          .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            @include media(mobile) {
              gap: 40px 12px;
            }

            > div.comlist {
              display: flex;
              flex-direction: column;
              gap: 8px;
              max-width: 24.026%;
              width: 100%;

              @include media(desktop-sm) {
                max-width: 23.77%;
              }

              @include media(tab) {
                max-width: 23.37%;
              }

              @include media(mobile) {
                max-width: 48.236%;
              }

              @media screen and (width <= 371px) {
                max-width: 47.236%;
              }

              .missioncard-inner {
                &1 {
                  aspect-ratio: 1 / 1;

                  .missioncard-sub1 {
                    line-height: 0;
                    height: 100%;
                    display: block;

                    img.comlist {
                      width: 100%;
                      height: 100%;
                      border-radius: 8px;

                      @include media(mobile) {
                        border-radius: 4.43px;
                      }
                    }
                  }
                }

                &2 {
                  .missioncard-sub {
                    &1 {
                      margin: 0 0 4px;

                      @include font-style(
                        var(--body-medium-medium-size),
                        var(--body-medium-medium-line-height),
                        var(--blue-1-800-primary),
                        500,
                        var(--body)
                      );

                      @include media(mobile) {
                        font-size: var(--body-medium-medium-size);
                        line-height: var(--body-medium-medium-line-height);
                      }
                    }

                    &2 {
                      margin: 0;

                      @include font-style(
                        var(--label-medium-size),
                        var(--label-medium-line-height),
                        var(--text-body),
                        400,
                        var(--body)
                      );

                      @include media(mobile) {
                        font-size: var(--label-medium-size);
                        line-height: var(--label-medium-line-height);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &3 {
      .button-container {
        padding: 16px 0;
        margin: 0;
        text-align: center;
        line-height: 0;

        @include media(mobile) {
          padding: 0;
        }

        .button {
          padding: var(--spacing-12);
          border-radius: var(--border-radius-4);
          background: var(--button-primary-default);
          margin: 0;
          min-width: 164px;
          border: none;

          @include font-style(
            var(--body-medium-regular-size),
            var(--body-medium-regular-line-height),
            var(--neutrals-white),
            500,
            var(--body)
          );

          @include media(mobile) {
            font-size: var(--body-medium-regular-size);
            line-height: var(--body-medium-regular-line-height);
          }
        }
      }
    }
  }
}

// nri page // 

.section.gift-previous-studies.previous-studies-ctn{
  .previous-studies-ex1{
    .previous-studies-inter1{
       @include media(mobile) {
        margin: 0 0 24px;
      }
    }
  }
  .tabs-wrapper{
    .tabs{
      .tabs-list{
        @include media(mobile) {
        display: flex;
        justify-content: start;
      }

      .tabs-tab{
         @include media(mobile) {
        flex: none;

      }
      }


      }
    }
  }
}
