@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.strategy-philosophy {
    &-container {
        @include media (mobile) {
            margin-top: 0;
        }

        .strategy-philosophy {
            display: flex;
            padding: 80px 0;
            align-items: center;
            gap: 16px;
            align-self: stretch;

            @include media (mobile) {
                flex-direction: column;
                padding: 48px 0;
                margin-top: 0;
                padding-top: 8px;
            }

            .philosophy-wrap {
                display: flex;
                width: 32.5%;
                padding: 32px 36px 0;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
                border-radius: 12px;
                background: var(--neutrals-100, #F5F5F5);

                @include media (mobile) {
                    width: 100%;
                }

                .philosophy-cont1 {
                    .philosophy-sec1 {
                        .philosophy-sub1 {
                            margin: 0;
                            color: var(--blue-1800-primary, #2E2A94);
                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                            font-family: var(--title, Inter);
                            font-size: var(--heading-h5-size, 28px);
                            font-style: normal;
                            font-weight: 600;
                            line-height: var(--heading-h5-line-height, 32px);
                        }

                        p {
                            margin: 0;
                            margin-top: 8px;
                            color: var(--text-body-2, #616161);
                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                            font-family: var(--body, Inter);
                            font-size: var(--body-small-regular-size, 14px);
                            font-style: normal;
                            font-weight: 400;
                            line-height: var(--label-large-line-height, 20px);
                        }
                    }
                }
            }

            .philosophy-cont3 {
                width: 66.4%;

                @include media (mobile) {
                    width: 100%;
                }

                .philosophy-sec1 {
                    ul {
                        margin: 0;
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        row-gap: 56px;
                        column-gap: 16px;

                        @include media (mobile) {
                            width: 100%;
                            flex-direction: column;
                            flex-wrap: unset;
                            gap: var(--spacing-28, 28px);
                        }

                        li {
                            width: 49%;
                            color: var(--blue-1800-primary, #2E2A94);
                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                            font-family: var(--body, Inter);
                            font-size: var(--body-large-semibold-size, 18px);
                            font-style: normal;
                            font-weight: 600;
                            line-height: var(--body-large-semibold-line-height, 24px);

                            @include media (mobile) {
                                width: 100%;
                            }
                        }

                        ol {
                            margin: 0;
                            list-style: none;
                            margin-top: 8px;

                            li {
                                width: 100%;
                                color: var(--neutrals-900, #212121);
                                font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                                font-family: var(--body, Inter);
                                font-size: var(--body-small-regular-size, 14px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--label-large-line-height, 20px);
                            }
                        }
                    }
                }
            }
        }
    }
}