@import "../../../styles/fonts.css";
main.nfo-nav div.calculator-container div.calculator-block {
  position: relative;
  padding: 56px 0 12px;
  align-items: flex-start;
}
@media (max-width: 768px) {
  main.nfo-nav div.calculator-container div.calculator-block {
    padding: 0;
    align-items: flex-start;
  }
}
main.nfo-nav div.calculator-container div.calculator-block .calc-selector {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  main.nfo-nav div.calculator-container div.calculator-block .calc-selector {
    position: relative;
  }
}
@media (max-width: 768px) {
  main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form {
    width: 100%;
  }
}
main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .goal-inputs-container {
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  max-width: 608px;
  width: 100%;
  gap: 36px 16px;
}
@media (max-width: 768px) {
  main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .goal-inputs-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .goal-inputs-container .calc-input-block {
    width: 100%;
    max-width: none;
  }
}
main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .goal-inputs-container .calc-input-block {
  width: 100%;
  max-width: calc(50% - 8px);
  max-height: -moz-fit-content;
  max-height: fit-content;
}
@media (max-width: 768px) {
  main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .goal-inputs-container .calc-input-block {
    max-width: 100%;
  }
}
main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .goal-inputs-container .calc-radio-selector {
  width: 100%;
}
main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .bah-inputs-container .bfadu-inp-container {
  max-width: 100%;
}
main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .pat-inputs-container .amount-i-have-inp-container {
  max-width: 100%;
}
main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .bav-inputs-container .aftd-inp-container {
  max-width: 100%;
}
main.nfo-nav div.calculator-container div.calculator-block .goal-calculator-form .calc-author-main1 .gc-inputs-container .goal-name-inp-container {
  max-width: 100%;
}
main.nfo-nav div.calculator-container div.calculator-block .calc-author-main2 {
  justify-content: space-between;
  max-height: -moz-fit-content;
  max-height: fit-content;
}/*# sourceMappingURL=goal-calculator.css.map */