@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.pms-wealth-form {
    padding: 32px 67px 64px 67px;
    background: var(--neutrals-100);
    margin: 0;

    @include media (mobile) {
        padding: var(--spacing-32, 32px) var(--spacing-16, 16px) var(--spacing-72, 72px) var(--spacing-16, 16px);
    }

    .your-wealth-journey-wrapper {
        padding: 0;

        .wealth-form-inner1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;

            @include media (mobile) {
                flex-direction: column;
                gap: var(--spacing-12, 12px);
            }

            .wealth-form-inner-sub1 {
                margin: 0;
                list-style: none;
                width: 32.5%;

                @include media (mobile) {
                    width: 100%;
                }

                .wealth-form-sub {
                    &1 {
                        h5 {
                            margin: 0;
                            color: var(--blue-1800-primary, #2E2A94);
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--title, Inter);
                            font-size: var(--heading-h5-size, 28px);
                            font-style: normal;
                            font-weight: 600;
                            line-height: var(--heading-h5-line-height, 32px);
                        }
                    }

                    &2 {
                        color: var(--neutrals-900, #212121);
                        font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                        font-family: var(--body, Inter);
                        font-size: var(--body-small-regular-size, 14px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: var(--label-large-line-height, 20px);
                    }
                }
            }

            .wealth-form-inner-sub2 {
                margin: 0;
                width: 62.75%;

                @include media (mobile) {
                    width: 100%;
                }

                .form-container {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: var(--Spacing-12, 12px);
                    flex-shrink: 0;

                    @include media (mobile) {
                        flex-direction: column;
                    }

                    .num-cont-wrapper {
                        display: flex;
                        align-items: flex-start;
                        gap: 12px;
                        flex: 0 0 41.8%;

                        // max-width: 335px;
                        // width: 100%;
                        @include media (mobile) {
                            width: 100%;
                        }

                        .cont-wrapper {
                            display: flex;
                            list-style: none;
                            display: flex;
                            height: 40px;
                            padding: var(--spacing-10, 10px) var(--spacing-8, 8px) var(--spacing-10, 10px) var(--spacing-12, 12px);
                            justify-content: space-between;
                            align-items: center;
                            gap: 6px;
                            align-self: stretch;
                            border-radius: var(--border-radius-8, 8px);
                            border: var(--border-width-02, 1px) solid var(--strokes-default, #9E9E9E);

                            .ind-svg {
                                list-style: none;
                                width: 28px;
                                height: 20px;
                            }

                            .cont-code {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 11px;

                                li {
                                    color: var(--text-default-input, #616161);
                                    font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                                    font-family: var(--body, Inter);
                                    font-size: var(--body-medium-regular-size, 16px);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: var(--body-medium-regular-line-height, 20px);
                                }

                                &::after {
                                    content: '';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background: url(../../icons/arrow-black-down.svg) no-repeat center;
                                }
                            }
                        }

                        .num-label-inp {
                            list-style: none;
                            display: flex;
                            width: 100%;
                        }

                        .num-label-inp {
                            position: relative;
                            // width: 260px;
                            font-family: Arial, sans-serif;
                        }

                        /* Input field */
                        .num-input {
                            width: 100%;
                            outline: none;
                            background: transparent;
                            display: flex;
                            height: 40px;
                            padding: var(--spacing-10, 10px) var(--spacing-12, 12px);
                            align-items: center;
                            gap: var(--Spacing-8, 8px);
                            align-self: stretch;
                            border-radius: var(--border-radius-8, 8px);
                            border: var(--border-width-02, 1px) solid var(--strokes-default, #9E9E9E);
                        }

                        /* Label positioning */
                        .num-label {
                            position: absolute;
                            left: 12px;
                            top: 50%;
                            transform: translateY(-50%);
                            pointer-events: none;
                            transition: 0.3s ease;
                        }

                        /* Remove list styling */
                        .num-label li {
                            list-style: none;
                            font-size: 16px;
                            color: #9a9a9a;
                            background: var(--neutrals-100);
                            padding: 0 6px;
                        }

                        /* Floating effect */
                        .num-label-inp:focus-within .num-label,
                        .num-input:not(:placeholder-shown)+.num-label {
                            top: -8px;
                            transform: none;
                        }

                        /* Smaller label when floating */
                        .num-label-inp:focus-within .num-label li,
                        .num-input:not(:placeholder-shown)+.num-label li {
                            font-size: 12px;
                            color: #2E2A94;
                        }

                        /* Focus border */
                        .num-input:focus {
                            border-color: #2E2A94;
                        }

                    }

                    .email-submit-wrapper {
                        display: flex;

                        .email-label-inp {
                            list-style: none;
                            display: flex;
                            width: 100%;
                        }

                        .submit-btn {
                            list-style: none;
                        }
                    }

                    .email-submit-wrapper {
                        display: flex;
                        gap: 12px;
                        align-items: center;
                        flex: 0 0 54.97%;

                        @include media (mobile) {
                            width: 100%;
                            flex-direction: column;
                        }
                    }

                    /* Wrapper */
                    .email-label-inp {
                        position: relative;
                        // width: 260px;
                    }

                    /* Input */
                    .email-imput {
                        width: 100%;
                        display: flex;
                        height: 40px;
                        padding: var(--spacing-8, 8px) var(--spacing-12, 12px);
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-start;
                        gap: 4px;
                        align-self: stretch;
                        background: var(--neutrals-100, #F5F5F5);
                        border-radius: var(--border-radius-8, 8px);
                        border: var(--border-width-02, 1px) solid var(--strokes-default, #9E9E9E);
                    }

                    /* Label */
                    .email-label {
                        position: absolute;
                        left: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                        transition: 0.3s ease;
                    }

                    /* Remove li styling */
                    .email-label li {
                        list-style: none;
                        font-size: 16px;
                        color: #8a8a8a;
                        background: var(--neutrals-100, #F5F5F5);
                        padding: 0 6px;
                    }

                    /* Floating state */
                    .email-label-inp:focus-within .email-label,
                    .email-imput:not(:placeholder-shown)+.email-label {
                        top: -8px;
                        transform: none;
                    }

                    /* Floating text */
                    .email-label-inp:focus-within .email-label li,
                    .email-imput:not(:placeholder-shown)+.email-label li {
                        font-size: 12px;
                        color: #2E2A94;
                    }

                    /* Focus border */
                    .email-imput:focus {
                        border-color: #2E2A94;
                    }

                    /* Submit button */
                    .submit-btn {
                        display: flex;
                        height: 40px;
                        padding: var(--spacing-12, 12px);
                        justify-content: center;
                        align-items: center;
                        gap: var(--spacing-8, 8px);
                        border-radius: var(--border-radius-8, 8px);
                        background: var(--button-primary-default, #2E2A94);

                        @include media (mobile) {
                            width: 100%;
                        }

                        li {
                            color: var(--text-white, #FFF);
                            text-align: center;
                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                            font-family: var(--body, Inter);
                            font-size: var(--button-medium-size, 16px);
                            font-style: normal;
                            font-weight: 500;
                            line-height: var(--button-medium-line-height, 20px);
                        }
                    }

                }
            }
        }
    }
}