/* @import '../tabs/tabs.css'; */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.tabs-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
}

@media (width >=600px) {
  .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >=900px) {
  .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 0;
  padding: 0.5em;
  background-color: var(--light-color);
  color: initial;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tabs-list button p {
  margin: 0;
}


.tabs-list button[aria-selected='true'] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tabs-panel {
  margin-top: -1px;
  padding: 24px;
  border: 1px solid #dadada;
  overflow: auto;
}

.tabs-panel[aria-hidden='true'] {
  display: none;
}

.innerdiv .tabs-panel[aria-hidden='true'] {
  display: none;
}

/* .innerdiv .tabs-panel[aria-hidden='false'] {
  display: flex;
} */

.embed-wrapper {
  height: 100%;
}

.embed {
  width: 100%;
  text-align: center;
  max-width: 752px;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embed>div {
  display: flex;
  justify-content: center;
}

.embed.embed-twitter .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

.embed .embed-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.embed .embed-placeholder>* {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.embed .embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.embed .embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px;
  padding: 0;
}

.embed .embed-placeholder-play button::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px;
}

@media (width <=900px) {
  .embed-wrapper {
    padding: 5px;
  }
}

.wcs-landing.embed-container .embed-placeholder picture img {
  object-fit: fill;
  border-radius: 10.637px;
}

.wcs-landing.embed-container .embed-placeholder .embed-placeholder-play button {
  background-color: transparent;
  position: unset;
  border: unset;
  border-radius: unset;
  margin: 0;
  padding: 0;
  line-height: unset;
  transform: unset;
  width: auto;
  height: auto;
}

.wcs-landing.embed-container .embed-placeholder .embed-placeholder-play button::before {
  background: url('../../icons/play-button.svg') no-repeat center;
  background-position: center;
  border: unset;
  width: 100%;
  height: 100%;
}



// WCS Landing Scss Start
main .section.wcs-landing.section.embed-container {
  margin-top: 32px;

  @include media (mobile) {
    margin-top: 0;
  }
}

.wcs-landing.section.embed-container {
  max-width: 1232px;
  margin: 0 auto;
  margin-top: 16px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 91px;

  @include media(mobile) {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 40px;
    position: relative;
    margin-bottom: 100px;
  }

  .wcs2 {
    margin-left: 0;
    margin-right: 0;

    .text1 {
      max-width: 504px;
      width: 100%;
      color: var(--blue-1-800-primary);
      font-family: var(--title);
      font-size: var(--heading-h1-size);
      font-style: normal;
      font-weight: 600;
      line-height: var(--heading-h1-line-height);
      margin: 0;

      @include media(mobile) {
        font-size: 28px;
        line-height: var(--sub-header-large-line-height);
      }
    }

    .text2 {
      margin: 0;
      padding: 12px 0;
      color: var(--blue-1800-primary, #2E2A94);
      font-feature-settings: var(--font-features-default);
      font-family: var(--body, Inter);
      font-size: var(--body-medium-medium-size, 16px);
      font-style: normal;
      font-weight: 500;
      line-height: var(--body-medium-medium-line-height, 20px);

      @include media (mobile) {
        font-size: var(--body-small-medium-size, 14px);
        line-height: var(--body-small-medium-line-height, 16px);
      }
    }

    .text3 {
      margin: 0;
      margin-top: 0;
      max-width: 504px;
      width: 100%;
      color: var(--neutrals-800);
      font-family: var(--body);
      font-size: var(--body-medium-regular-size);
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 48px;

      @include media(mobile) {
        margin-bottom: 12px;
      }
    }

    .text4 {
      padding: 0 4px 0 0;
      margin: 0;

      @include media(mobile) {
        padding: 0 16px 0 20px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
      }

      .cta1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        color: var(--text-white);
        text-align: center;
        font-family: var(--body);
        font-size: var(--button-medium-size);
        font-style: normal;
        font-weight: 500;
        line-height: var(--button-medium-line-height);
        border-radius: var(--border-radius-8);
        background: var(--button-primary-default);
        margin-top: 0;
        padding: 10px 12px;
        border: unset;
        max-width: 336px;
        width: 100%;
        height: 40px;

        @include media(mobile) {
          width: 100%;
          margin: 0 auto 28px;
          border: none;
        }
      }
    }
  }

  .wcs1 {
    display: flex;
    max-width: 607px;
    width: 100%;
    max-height: 341.083px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 10.637px;

    // background: lightgray 0 -0.709px / 100.117% 100.208% no-repeat;

    @include media(mobile) {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin: 0 auto 69px;

      //  max-width: 339.441px;
      //  max-height: 190.737px;

      .embed {
        @include media(mobile) {
          padding-bottom: 28px;
        }

        >div {
          border-radius: 10.637px;
        }
      }
    }
  }
}

// WCs Landing Scss End