/* Reset */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.cornerstones-advantage {
  &-cards-container {
    // max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 56px;

    @include media(mobile) {
      // max-width: 100%;
      padding: 24px 0 12px;
    }

    .default-content-wrapper {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0 0 4px;
        text-align: center;

        @include font-style(var(--heading-h4-size), var(--heading-h4-line-height), var(--blue-1-800-primary), 600, var(--title));

        @include media(mobile) {
          text-align: left;
          font-size: var(--sub-header-large-size);
          line-height: 28px;
        }
      }

      p {
        @include font-style(var(--body-medium-regular-size), 24px, var(--blue-1-800-primary), 400, var(--body));

        text-align: center;
        margin: 0;

        @include media(mobile) {
          font-size: var(--paragraph-small-size);
          line-height: var(--paragraph-small-line-height);
          text-align: left;
        }
      }
    }
  }

  .cornerstones-advantage {
    &-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 16px;
      margin: 40px 0 0;

      @include media(mobile) {
        flex-wrap: unset;
        flex-direction: column;

        // gap: 40px;
        gap: 24px;
      }

      & .cards-item {
        max-width: 296px;
        width: 100%;
        min-height: 300px;

        @include media(tab) {
          max-width: 32%;
        }

        @media screen and (width <=851px) {
          max-width: 48%;
        }

        @include media(mobile) {
          // min-height: 176px;
          min-height: 136px;
          max-width: 100%;
          padding-right: 0;
        }

        >div {
          height: 100%;
          display: flex;
          flex-direction: column;
          padding-right: 26px;

          @include media(mobile) {
            padding-right: 0;
            padding-bottom: 16px;
            display: grid;
            grid-template-areas:
              "icon heading"
              "icon text"
              "icon button";
            grid-template-columns: 64px 1fr;
            gap: 0 8px;
            align-items: start;
          }
        }

        .item-child {
          margin: 0;

          &.item-child-1,
          &.item-child-1 .icon {
            width: 64px;
            height: 64px;

            @include media(mobile) {
              grid-area: icon;
            }
          }

          &.item-child-2 {
            margin: 24px 0 8px;

            @include font-style(var(--body-large-medium-size), var(--body-large-medium-line-height), var(--blue-1-800-primary), 500, var(--body));

            @include media(mobile) {
              grid-area: heading;
              margin: 0 0 4px;
              font-size: var(--body-medium-medium-size);
              line-height: var(--body-medium-medium-line-height);
            }
          }

          &.item-child-3 {
            @include font-style(var(--body-medium-regular-size), 24px, var(--text-body-2), 400, var(--body));

            padding-bottom: 28px;

            @include media(mobile) {
              font-size: var(--paragraph-small-size);
              line-height: var(--paragraph-small-line-height);
              padding-bottom: 0;
              white-space: break-spaces;
            }
          }

          &.button-container {
            margin-top: auto;
            line-height: 0;

            @include media(mobile) {
              grid-area: button;
              margin: 16px 0 0;
            }

            .button {
              margin: 0;
              padding: 0;
              background-color: transparent;
              text-decoration-line: underline;
              text-underline-offset: 20%;
              border-radius: 0;
              border: none;
              display: block;
              text-align: left;

              @include font-style(var(--text-link-small-size),
                var(--text-link-small-line-height),
                var(--text-text-link),
                400,
                var(--body));

              @include media(mobile) {
                font-size: var(--text-link-small-size);
                line-height: var(--text-link-small-line-height);
              }
            }
          }
        }
      }
    }
  }
}

.section.cornerstones-elss-fund {
  padding: 80px 0;

  .cornerstones-advantage-cards-wrapper {
    .cornerstones-advantage-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      justify-content: space-between;
      margin: 64px 0 0;
    }
  }

  .cornerstones-advantage-cards {
    .cards-item {
      max-width: 296px;
      width: 100%;
      min-height: 244px;
    }
  }
}

.section.cornerstones-become-partner {
  border-radius: 16px;
  background: var(--blue-1-50);
  max-width: 1232px;
  display: flex;
  flex-direction: column;
  padding: 0 40px 24px;
  margin-top: -17px;

  @include media(mobile) {
    margin-left: 16px;
    margin-right: 16px;
    width: unset;
    padding: 24px 16px;
  }

  .default-content-wrapper {
    display: flex;
    padding-top: 24px;

    @include media(mobile) {
      padding: unset;
    }


    h6 {
      margin: unset;
      color: var(--blue-1-800-primary);
      font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
      font-family: var(--TItle, inter);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;

      @include media(mobile) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .cornerstones-advantage-cards-wrapper {
    max-width: unset;
    margin: unset;

    @include media(mobile) {
      padding: unset;
    }

    .cornerstones-advantage-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin: 24px 0 0;

      .cards-item {
        max-width: 364px;
        min-height: 162px;

        div {
          @include media(mobile) {
            display: block;
          }

          .item-child-2 {
            margin: 10px 0 4px;
            color: var(--blue-1-800-primary);
            font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
            font-family: var(--body, inter);
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
          }

          .item-child-3 {
            padding-bottom: unset;
            color: var(--blue-1-800-primary);
            font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;
            font-family: var(--body, inter);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            /* 155.556% */

            @include media(mobile) {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}