/* Reset */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

main.nfo-nav .main-wrapper .section:first-of-type {
  margin-top: 0;
}

.section.main-wrapper {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 40px;
  display: flex;
  gap: 30px;
  justify-content: space-between;

  .section.article-left-wrapper {
    max-width: 66.234%;
    width: 100%;
    margin: 0;

    .section.article-sub-left {
      .investarticle-leftmain {
        &1 {
          padding: var(--spacing-24) 0;

          .investarticle-leftsub {
            &1 {
              margin: 0;
              list-style: none;
              display: flex;
              align-items: center;
              flex-wrap: wrap-reverse;
              gap: 16px;
              justify-content: space-between;

              .investarticle-leftinner1 {
                .investsub-leftarticle1 {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  list-style: none;
                  margin: 0;

                  > li {
                    @include font-style(
                      var(--label-small-size),
                      var(--label-small-line-height),
                      var(--neutrals-700),
                      400,
                      var(--body)
                    );

                    display: flex;
                    align-items: center;
                    gap: 4px;

                    &.investleft-subinner1 {
                      color: var(--blue-1-800-primary);
                      border-radius: var(--border-radius-circle);
                      border: 1px solid var(--strokes-default);
                      padding: 0 var(--spacing-12);
                      height: 24px;

                      .investleft-articleitem1 {
                        width: 20px;
                        height: 20px;
                      }
                    }

                    &:last-of-type {
                      .investleft-articleitem1 {
                        width: 12px;
                        height: 12px;
                      }

                      &::before {
                        content: "";
                        width: 4px;
                        height: 4px;
                        background-color: var(--blue-1-400);
                        border-radius: 50%;
                        margin-right: 4px;
                      }
                    }
                  }
                }
              }

              .investarticle-leftinner2 {
                .investsub-leftarticle1,
                .investleft-subinner1 {
                  margin: 0;
                  width: 28px;
                  height: 28px;
                }
              }
            }

            &2 {
              margin: 24px 0 0;
              max-width: 100%;

              @include font-style(
                var(--heading-h5-size),
                var(--heading-h5-line-height),
                var(--blue-1-800-primary),
                600,
                var(--title)
              );
            }

            &3 {
              margin: 24px 0 0;
              list-style: none;

              .investarticle-leftinner1 {
                display: flex;
                align-items: center;
                gap: 8px;

                .investsub-leftarticle {
                  &1 {
                    margin: 0;
                    width: 35px;
                    height: 35px;

                    * {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  &2 {
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .investleft-subinner {
                      &1 {
                        @include font-style(
                          var(--body-small-medium-size),
                          var(--body-small-medium-line-height),
                          var(--neutrals-900),
                          500,
                          var(--body)
                        );
                      }

                      &2 {
                        @include font-style(
                          var(--paragraph-small-regular-size),
                          var(--paragraph-small-regular-line-height),
                          var(--neutrals-700),
                          400,
                          var(--body)
                        );
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &2.embed-wrapper {
          width: 100%;
          height: 375px;
          margin: 0 auto;

          .embed {
            max-width: 100%;
            height: 100%;

            //picture handlinng
            .investarticle-leftinner1 {
              width: inherit;
              height: inherit;

              .investsub-leftarticle1 {
                width: inherit;
                height: inherit;

                .investleft-subinner {
                  &1 {
                    margin: 0;
                    width: inherit;
                    height: inherit;

                    picture {
                      line-height: 0;
                      height: 100%;
                      display: block;

                      .investleft-itemchild4 {
                        width: 100%;
                        height: 100%;
                        border-radius: var(--border-radius-8);
                      }
                    }
                  }

                  &2 {
                    margin: 0;
                    display: none;
                  }
                }
              }
            }

            //video handling
            .embed-placeholder {
              width: inherit;
              height: inherit;
              cursor: pointer;

              .investsub-leftarticle {
                &1 {
                  line-height: 0;
                  height: 100%;
                  display: block;

                  .investleft-subinner4 {
                    object-fit: fill;
                    width: 100%;
                    height: 100%;
                    border-radius: var(--border-radius-8);
                  }
                }

                &2 {
                  .investleft-subinner1 {
                    width: 48px;
                    height: 48px;
                    margin: 0;
                    transform: unset;
                    border: none;
                    border-radius: 0;
                    background-color: transparent;

                    &::before {
                      content: "";
                      background: url("../../icons/play-button.svg") center
                        center no-repeat;
                      background-size: contain;
                      width: 48px;
                      height: 48px;
                      border: none;
                      position: unset;
                    }
                  }
                }
              }
            }
          }
        }

        &3.co-branding-wrapper {
          .co-branding {
            margin: 24px 0 0;

            .investarticle-leftinner1 {
              .investsub-leftarticle1 {
                p.comlist {
                  margin: 0 0 24px;

                  @include font-style(
                    var(--body-medium-regular-size),
                    24px,
                    #3d3d3d,
                    400,
                    var(--body)
                  );
                }

                h2.comlist,
                h3.comlist {
                  margin: 0 0 24px;

                  @include font-style(
                    var(--body-large-semibold-size),
                    var(--body-large-semibold-line-height),
                    var(--blue-1-800-primary),
                    600,
                    var(--body)
                  );
                }
              }
            }
          }
        }
      }
    }
  }

  .section.article-right-wrapper {
    max-width: 24.026%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .article-sub-right {
      &.stay-updated {
        .default-content-wrapper.investarticle-rightmain1 {
          .investarticle-rightsub {
            &1 {
              margin: 0 0 16px;

              @include font-style(
                var(--body-large-medium-size),
                var(--body-large-medium-line-height),
                var(--blue-1-800-primary),
                500,
                var(--body)
              );
            }

            &2 {
              display: flex;
              align-items: center;
              gap: 8px;
              list-style: none;
              margin: 0;

              > li.comlist {
                width: 32px;
                height: 32px;
                cursor: pointer;
              }
            }
          }
        }
      }

      &.subscribe-email {
        border-radius: var(--border-radius-8);
        background: var(--blue-1-800-primary);
        padding: var(--spacing-24) 16px;

        .default-content-wrapper.investarticle-rightmain1 {
          .investarticle-rightsub {
            &1,
            &1 .investarticle-rightinner1 {
              margin: 0;
              width: 64px;
              height: 64px;
            }

            &2 {
              margin: 8px 0 24px;

              @include font-style(
                var(--body-medium-medium-size),
                var(--body-medium-medium-line-height),
                var(--neutrals-white),
                500,
                var(--body)
              );
            }

            &3 {
              margin: 0;

              form {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-8);

                .email-wrapper {
                  //   border-radius: var(--border-radius-8);
                  //   border: var(--border-width-01) solid var(--neutrals-white);
                  //   padding: var(--spacing-8) var(--spacing-12);
                  position: relative;
                  height: 40px;

                  label,
                  input {
                    @include font-style(
                      var(--body-medium-regular-size),
                      var(--body-medium-regular-line-height),
                      var(--neutrals-200),
                      400,
                      var(--body)
                    );
                  }

                  label {
                    position: absolute;
                    top: 50%;
                    left: 12px;
                    transform: translateY(-50%);
                    padding: 0 4px;
                    transition: all 0.3s ease;
                    cursor: auto;
                  }

                  input {
                    background-color: transparent;
                    width: 100%;
                    border-radius: var(--border-radius-8);
                    border: var(--border-width-01) solid var(--neutrals-white);
                    padding: var(--spacing-8) var(--spacing-12);
                    height: 100%;

                    &::placeholder {
                      color: transparent;
                    }
                  }

                  &:focus-within {
                    label {
                      transform: unset;
                      top: -10px;
                      background-color: var(--blue-1-800-primary);
                    }
                  }
                }

                .submit-btn {
                  .button {
                    border-radius: var(--border-radius-8);
                    background: var(--neutrals-white);
                    padding: 10px var(--spacing-12);
                    width: 100%;
                    margin: 0;
                    height: 40px;
                    border: none;

                    @include font-style(
                      var(--button-medium-size),
                      var(--button-medium-line-height),
                      var(--text-button-default),
                      500,
                      var(--body)
                    );
                  }
                }
              }
            }
          }
        }
      }

      &.recommended-posts{
        
      }
    }
  }
}
