/* Reset */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

main.nfo-nav .main-wrapper .section:first-of-type {
  margin-top: 0;
}

.section.main-wrapper {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 40px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-bottom: 0;

  @include media(desktop-sm) {
    padding: 24px 16px 40px;
  }

  @include media(mobile) {
    max-width: 100%;
    flex-direction: column;
    gap: var(--spacing-40);
    padding: 24px 16px 40px;
    padding-bottom: 0;
  }

  .section.article-left-wrapper {
    max-width: 66.234%;
    width: 100%;
    margin: 0;

    @include media(desktop-sm) {
      padding: 0;
      max-width: 68%;
    }

    @include media(tab) {
      max-width: 62%;
    }

    @include media(mobile) {
      max-width: 100%;
    }

    .section.article-sub-left {
      .investarticle-leftmain {
        &1 {
          padding: var(--spacing-24) 0;

          // .investarticle-leftsub {
          //   &1 {
          //     margin: 0;
          //     list-style: none;
          //     display: flex;
          //     align-items: center;
          //     flex-wrap: wrap-reverse;
          //     gap: 16px;
          //     justify-content: space-between;

          //     .investarticle-leftinner1 {
          //       .investsub-leftarticle1 {
          //         display: flex;
          //         align-items: center;
          //         gap: 8px;
          //         list-style: none;
          //         margin: 0;

          //         > li {
          //           display: flex;
          //           align-items: center;
          //           gap: 4px;

          //           @include font-style(
          //             var(--label-small-size),
          //             var(--label-small-line-height),
          //             var(--neutrals-700),
          //             400,
          //             var(--body)
          //           );

          //           @include media(mobile) {
          //             font-size: var(--label-small-size);
          //             line-height: var(--label-small-line-height);
          //           }

          //           &.investleft-subinner1 {
          //             color: var(--blue-1-800-primary);
          //             border-radius: var(--border-radius-circle);
          //             border: 1px solid var(--strokes-default);
          //             padding: 0 var(--spacing-12);
          //             height: 24px;

          //             @include media(mobile) {
          //               padding: 0 var(--spacing-8);
          //             }

          //             .investleft-articleitem1 {
          //               width: 20px;
          //               height: 20px;

          //               @include media(mobile) {
          //                 width: 16px;
          //                 height: 16px;
          //               }
          //             }
          //           }

          //           &:last-of-type {
          //             .investleft-articleitem1 {
          //               width: 12px;
          //               height: 12px;
          //             }

          //             &::before {
          //               content: "";
          //               width: 4px;
          //               height: 4px;
          //               background-color: var(--blue-1-400);
          //               border-radius: 50%;
          //               margin-right: 4px;
          //             }
          //           }
          //         }
          //       }
          //     }

          //     .investarticle-leftinner2 {
          //       position: relative;

          //       .investsub-leftarticle1,
          //       .investleft-subinner1 {
          //         margin: 0;
          //         width: 28px;
          //         height: 28px;
          //         cursor: pointer;
          //       }

          //       .list-share-popup {
          //         position: absolute;
          //         top: 100%;
          //         margin: 4px 0 0;
          //         left: 0;
          //         border-radius: 6px;
          //         border: 1px solid var(--neutrals-200);
          //         box-shadow: 0 0 14px 0 rgba(40, 40, 40, 0.06);
          //         width: 170px;
          //         background: var(--neutrals-white);
          //         min-height: 126px;
          //         height: auto;
          //         padding: 2px 6px;
          //         scrollbar-width: auto;
          //         scrollbar-color: rgba(0, 0, 0, 0);
          //         list-style: none;
          //         display: none;

          //         &.active {
          //           display: block;
          //         }

          //         @include media(mobile) {
          //           left: unset;
          //           right: 0;
          //         }

          //         .list-share-media {
          //           margin: 0;
          //           list-style: none;

          //           .list-media {
          //             .list-link {
          //               padding: 3px 0;
          //               display: flex;
          //               align-items: center;
          //               gap: 8px;
          //               cursor: pointer;
          //               font-size: var(--body-xsmall-regular-size);
          //               line-height: var(--body-xsmall-regular-line-height);
          //               color: var(--text-body);
          //               font-family: var(--body);
          //               font-feature-settings: var(--font-features-default);
          //               font-weight: 400;

          //               .media-icon {
          //                 width: 24px;
          //                 height: 24px;
          //               }
          //             }

          //             &:last-of-type {
          //               position: fixed;
          //               left: 50%;
          //               transform: translateX(-50%);
          //               margin: 0 auto;
          //               min-width: unset;
          //               width: -moz-max-content;
          //               width: max-content;
          //               bottom: 10%;
          //               background-color: var(--neutrals-white);
          //               color: var(--blue-1-800-primary);
          //               box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          //               padding: 4px 14px;
          //               border-radius: 4px;
          //               font-size: 14px;
          //               line-height: 18px;
          //               font-weight: 400;
          //               font-family: var(--body);
          //               z-index: 10;
          //             }
          //           }
          //         }
          //       }
          //     }
          //   }

          //   &2 {
          //     margin: 24px 0 0;
          //     max-width: 100%;

          //     @include font-style(
          //       var(--heading-h5-size),
          //       var(--heading-h5-line-height),
          //       var(--blue-1-800-primary),
          //       600,
          //       var(--title)
          //     );

          //     @include media(mobile) {
          //       font-size: 20px;
          //       line-height: 24px;
          //     }
          //   }

          //   &3 {
          //     margin: 24px 0 0;
          //     list-style: none;

          //     .investarticle-leftinner1 {
          //       display: flex;
          //       align-items: center;
          //       gap: 8px;

          //       .investsub-leftarticle {
          //         &1 {
          //           margin: 0;
          //           width: 35px;
          //           height: 35px;

          //           * {
          //             width: 100%;
          //             height: 100%;
          //           }
          //         }

          //         &2 {
          //           margin: 0;
          //           list-style: none;
          //           display: flex;
          //           flex-direction: column;
          //           gap: 4px;

          //           .investleft-subinner {
          //             &1 {
          //               @include font-style(
          //                 var(--body-small-medium-size),
          //                 var(--body-small-medium-line-height),
          //                 var(--neutrals-900),
          //                 500,
          //                 var(--body)
          //               );

          //               @include media(mobile) {
          //                 font-size: var(--body-small-medium-size);
          //                 line-height: var(--body-small-medium-line-height);
          //               }
          //             }

          //             &2 {
          //               @include font-style(
          //                 var(--paragraph-small-regular-size),
          //                 var(--paragraph-small-regular-line-height),
          //                 var(--neutrals-700),
          //                 400,
          //                 var(--body)
          //               );

          //               @include media(mobile) {
          //                 font-size: var(--paragraph-small-regular-size);
          //                 line-height: var(
          //                   --paragraph-small-regular-line-height
          //                 );
          //               }
          //             }
          //           }
          //         }
          //       }
          //     }
          //   }
          // }

          .investarticle-leftsub1 {
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap-reverse;
            gap: 16px;
            justify-content: space-between;

            .investarticle-leftinner1 {
              .investsub-leftarticle1 {
                display: flex;
                align-items: center;
                gap: 8px;
                list-style: none;
                margin: 0;

                > li {
                  display: flex;
                  align-items: center;
                  gap: 4px;

                  @include font-style(
                    var(--label-small-size),
                    var(--label-small-line-height),
                    var(--neutrals-700),
                    400,
                    var(--body)
                  );

                  @include media(mobile) {
                    font-size: var(--label-small-size);
                    line-height: var(--label-small-line-height);
                  }

                  &.investleft-subinner1 {
                    color: var(--blue-1-800-primary);
                    border-radius: var(--border-radius-circle);
                    border: 1px solid var(--strokes-default);
                    padding: 0 var(--spacing-12);
                    height: 24px;

                    @include media(mobile) {
                      padding: 0 var(--spacing-8);
                    }

                    .investleft-articleitem1 {
                      width: 20px;
                      height: 20px;

                      @include media(mobile) {
                        width: 16px;
                        height: 16px;
                      }
                    }
                  }

                  &:last-of-type {
                    .investleft-articleitem1 {
                      width: 12px;
                      height: 12px;
                    }

                    &::before {
                      content: "";
                      width: 4px;
                      height: 4px;
                      background-color: var(--blue-1-400);
                      border-radius: 50%;
                      margin-right: 4px;
                    }
                  }
                }
              }
            }

            .investarticle-leftinner2 {
              position: relative;

              .investsub-leftarticle1,
              .investleft-subinner1 {
                margin: 0;
                width: 28px;
                height: 28px;
                cursor: pointer;
              }

              .list-share-popup {
                position: absolute;
                top: 100%;
                margin: 4px 0 0;
                left: 0;
                border-radius: 6px;
                border: 1px solid var(--neutrals-200);
                box-shadow: 0 0 14px 0 rgba(40, 40, 40, 0.06);
                width: 170px;
                background: var(--neutrals-white);
                min-height: 126px;
                height: auto;
                padding: 2px 6px;
                scrollbar-width: auto;
                scrollbar-color: rgba(0, 0, 0, 0);
                list-style: none;
                display: none;

                &.active {
                  display: block;
                }

                @include media(mobile) {
                  left: unset;
                  right: 0;
                }

                .list-share-media {
                  margin: 0;
                  list-style: none;

                  .list-media {
                    .list-link {
                      padding: 3px 0;
                      display: flex;
                      align-items: center;
                      gap: 8px;
                      cursor: pointer;
                      font-size: var(--body-xsmall-regular-size);
                      line-height: var(--body-xsmall-regular-line-height);
                      color: var(--text-body);
                      font-family: var(--body);
                      font-feature-settings: var(--font-features-default);
                      font-weight: 400;

                      .media-icon {
                        width: 24px;
                        height: 24px;
                      }
                    }

                    &:last-of-type {
                      position: fixed;
                      left: 50%;
                      transform: translateX(-50%);
                      margin: 0 auto;
                      min-width: unset;
                      width: -moz-max-content;
                      width: max-content;
                      bottom: 10%;
                      background-color: var(--neutrals-white);
                      color: var(--blue-1-800-primary);
                      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                      padding: 4px 14px;
                      border-radius: 4px;
                      font-size: 14px;
                      line-height: 18px;
                      font-weight: 400;
                      font-family: var(--body);
                      z-index: 10;
                    }
                  }
                }
              }
            }
          }

          h1.investarticle-leftsub2 {
            margin: 24px 0 0;
            max-width: 100%;

            @include font-style(
              var(--heading-h5-size),
              var(--heading-h5-line-height),
              var(--blue-1-800-primary),
              600,
              var(--title)
            );

            @include media(mobile) {
              font-size: 20px;
              line-height: 24px;
            }
          }

          h1.investarticle-leftsub2 ~ p.comlist {
            margin: 4px 0 0;

            @include font-style(
              var(--body-medium-regular-size),
              24px,
              var(--text-body-2),
              400,
              var(--body)
            );

            @include media(mobile) {
              font-size: var(--paragraph-small-regular-size);
              line-height: var(--paragraph-small-regular-line-height);
            }
          }

          & ul.comlist:last-of-type {
            margin: 24px 0 0;
            list-style: none;

            .investarticle-leftinner1 {
              display: flex;
              align-items: center;
              gap: 8px;

              .investsub-leftarticle {
                &1 {
                  margin: 0;
                  width: 35px;
                  height: 35px;

                  * {
                    width: 100%;
                    height: 100%;
                  }
                }

                &2 {
                  margin: 0;
                  list-style: none;
                  display: flex;
                  flex-direction: column;
                  gap: 4px;

                  .investleft-subinner {
                    &1 {
                      @include font-style(
                        var(--body-small-medium-size),
                        var(--body-small-medium-line-height),
                        var(--neutrals-900),
                        500,
                        var(--body)
                      );

                      @include media(mobile) {
                        font-size: var(--body-small-medium-size);
                        line-height: var(--body-small-medium-line-height);
                      }
                    }

                    &2 {
                      @include font-style(
                        var(--paragraph-small-regular-size),
                        var(--paragraph-small-regular-line-height),
                        var(--neutrals-700),
                        400,
                        var(--body)
                      );

                      @include media(mobile) {
                        font-size: var(--paragraph-small-regular-size);
                        line-height: var(--paragraph-small-regular-line-height);
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &2.embed-wrapper {
          width: 100%;
          // height: 320px;
          height: 375px;
          margin: 0 auto;
          overflow: hidden;

          @include media(mobile) {
            padding: 0;
            // height: 160px;
            height: 100%;
          }

          @include media(mobile-md) {
            height: 160px;
          }

          .embed {
            max-width: 100%;
            height: 100%;

            //picture handlinng
            .investarticle-leftinner1 {
              width: inherit;
              height: inherit;

              @include media(mobile) {
                min-height: 160px;
                height: 100%;
                border-radius: 4px;
              }

              .investsub-leftarticle1 {
                width: inherit;
                height: inherit;

                .investleft-subinner {
                  &1 {
                    margin: 0;
                    width: inherit;
                    height: inherit;

                    picture {
                      line-height: 0;
                      height: 100%;
                      display: block;

                      .investleft-itemchild4 {
                        width: 100%;
                        height: 100%;
                        border-radius: var(--border-radius-8);
                      }
                    }
                  }

                  &2 {
                    margin: 0;
                    display: none;
                  }
                }
              }
            }

            //video handling
            .embed-placeholder {
              width: inherit;
              height: inherit;
              cursor: pointer;

              @include media(mobile) {
                min-height: 160px;
                height: 100%;
                border-radius: 4px;
              }

              .investsub-leftarticle {
                &1 {
                  line-height: 0;
                  height: 100%;
                  display: block;
                  border-radius: unset;
                  background: unset;
                  opacity: unset;

                  .investleft-subinner4 {
                    object-fit: fill;
                    width: 100%;
                    height: 100%;
                    border-radius: var(--border-radius-8);

                    @include media(mobile) {
                      object-fit: cover;
                      border-radius: 4px;
                    }
                  }
                }

                &2 {
                  border-radius: 0;
                  background: unset;
                  opacity: unset;

                  .investleft-subinner1 {
                    width: 48px;
                    height: 48px;
                    margin: 0;
                    transform: unset;
                    border: none;
                    border-radius: 0;
                    background-color: transparent;

                    &::before {
                      content: "";
                      background: url("../../icons/play-button.svg") center
                        center no-repeat;
                      background-size: contain;
                      width: 48px;
                      height: 48px;
                      border: none;
                      position: unset;
                    }
                  }
                }
              }
            }

            > div,
            > div iframe {
              width: inherit;
              height: inherit;
            }
          }
        }
      }

      .co-branding-wrapper {
        .co-branding {
          margin: 24px 0 0;

          @include media(mobile) {
            margin: 8px 0 0;
          }

          .investarticle-leftinner1 {
            .investsub-leftarticle1 {
              p.comlist,
              ul,
              ul > li.comlist,
              ol > li.comlist {
                margin: 0 0 24px;

                @include font-style(
                  var(--body-medium-regular-size),
                  24px,
                  #3d3d3d,
                  400,
                  var(--body)
                );

                @include media(mobile) {
                  font-size: var(--paragraph-small-regular-size);
                  line-height: var(--paragraph-small-regular-line-height);
                }

                strong {
                  color: var(--blue-1800-primary, #2e2a94);
                  font-feature-settings: var(--font-features-default);
                  font-family: var(--body, Inter);
                  font-size: var(--body-large-semibold-size, 18px);
                  font-style: normal;
                  font-weight: 600;
                  line-height: var(--body-large-semibold-line-height, 24px);

                  a {
                    text-decoration: underline;
                    color: var(--blue-1800-primary, #2e2a94);
                    font-feature-settings: var(--font-features-default);
                    font-family: var(--body, Inter);
                    font-size: var(--body-large-semibold-size, 18px);
                    font-style: normal;
                    font-weight: 600;
                    line-height: var(--body-large-semibold-line-height, 24px);
                  }
                }

                &:last-child {
                  margin: 0;
                }
              }

              ul > li.comlist,
              ol > li.comlist {
                margin: 0 0 24px 20px;
              }

              p.button-container {
                line-height: 0;

                .button {
                  margin: 0;
                  padding: 12px;
                  justify-content: center;
                  align-items: center;
                  gap: 4px;
                  border-radius: 8px;
                  background: #2e2a94;
                  width: max-content;
                  font-size: 16px;
                  line-height: 20px;
                  color: #fff;
                  font-family: "Inter", sans-serif;
                  font-feature-settings: "ss01" on, "ss04" on, "cv01" on,
                    "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on,
                    "cv10" on, "cv11" on;
                  font-weight: 500;
                }
              }

              h2.comlist,
              h3.comlist,
              h4.comlist,
              h5.comlist,
              h6.comlist {
                margin: 0 0 24px;

                @include font-style(
                  var(--body-large-semibold-size),
                  var(--body-large-semibold-line-height),
                  var(--blue-1-800-primary),
                  600,
                  var(--body)
                );

                @include media(mobile) {
                  font-size: var(--body-large-semibold-size);
                  line-height: var(--body-large-semibold-line-height);
                }
              }

              h2.comlist strong,
              h3.comlist strong,
              h4.comlist strong,
              h5.comlist strong,
              h6.comlist strong {
                font-weight: 600;
              }
            }
          }
        }
      }

      .default-content-wrapper.comlist {
        p.investarticle-leftsub1 {
          margin: 24px 0;

          picture.investarticle-leftinner1 {
            line-height: 0;
            height: 100%;
            display: block;

            img.comlist {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      &.key-details-card {
        padding: 40px 0 0;

        &:last-of-type {
          margin: 0 0 24px;

          @include media(mobile) {
            margin: 0;
          }
        }

        @include media(mobile) {
          padding: 24px 0 0;
          margin: 0;
        }

        // .default-content-wrapper.investarticle-leftmain1 {
        //   display: grid;
        //   grid-template-columns: 1fr;
        //   gap: 0 16px;
        //   padding: 0;

        //   .investarticle-leftsub {
        //     &1 {
        //       all: unset;
        //       grid-area: title-area;
        //       margin: 0;

        //       @include font-style(
        //         var(--body-large-semibold-size),
        //         var(--body-large-semibold-line-height),
        //         var(--blue-1-800-primary),
        //         600,
        //         var(--body)
        //       );

        //       @include media(mobile) {
        //         font-size: var(--body-large-semibold-size);
        //         line-height: var(--body-large-semibold-line-height);
        //       }
        //     }

        //     &2 {
        //       margin: 24px 0 0;
        //       grid-area: text-area;

        //       @include font-style(
        //         var(--body-medium-regular-size),
        //         24px,
        //         #3d3d3d,
        //         400,
        //         var(--body)
        //       );

        //       @include media(mobile) {
        //         margin: 0;
        //         font-size: var(--paragraph-small-regular-size);
        //         line-height: var(--paragraph-small-regular-line-height);
        //       }
        //     }

        //     &3 {
        //       all: unset;
        //       grid-area: image-area;
        //       min-width: 260px;
        //       width: 260px;
        //       height: 260px;

        //       @include media(mobile) {
        //         max-width: 100%;
        //         width: 100%;
        //         min-width: unset;
        //         height: auto;
        //         aspect-ratio: 1 / 1;
        //       }

        //       .investarticle-leftinner1 {
        //         all: unset;
        //         height: 100%;
        //         display: block;

        //         .investsub-leftarticle4 {
        //           width: 100%;
        //           height: 100%;
        //         }
        //       }
        //     }
        //   }
        // }

        // &.right-key-card {
        //   .default-content-wrapper.investarticle-leftmain1 {
        //     grid-template-areas:
        //       "title-area image-area"
        //       "text-area image-area";
        //     padding-right: 37px;

        //     @include media(tab) {
        //       padding: 0;
        //     }

        //     @media screen and (width <= 900px) {
        //       padding: 0;
        //       grid-template-areas:
        //         "title-area"
        //         "image-area"
        //         "text-area";
        //       gap: 16px;
        //     }
        //   }
        // }

        // &.left-key-card {
        //   .default-content-wrapper.investarticle-leftmain1 {
        //     grid-template-areas:
        //       "image-area title-area"
        //       "image-area text-area";
        //     padding-right: 44px;

        //     @include media(tab) {
        //       padding: 0;
        //     }

        //     @media screen and (width <= 900px) {
        //       padding: 0;
        //       grid-template-areas:
        //         "title-area"
        //         "image-area"
        //         "text-area";
        //       gap: 16px;
        //     }
        //   }
        // }

        .default-content-wrapper.investarticle-leftmain1 {
          // display: grid;
          // grid-template-columns: 1fr;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          gap: 0 16px;
          padding: 0;

          .comlist:first-of-type {
            all: unset;
            margin: 0;
            // flex: 1 1 60%;
            // order: 1;
            // grid-area: title-area;

            @include font-style(
              var(--body-large-semibold-size),
              var(--body-large-semibold-line-height),
              var(--blue-1-800-primary),
              600,
              var(--body)
            );

            // @media screen and (width <= 1101px){
            //   // flex: 1 1 40%;
            // }

            @include media(mobile) {
              font-size: var(--body-large-semibold-size);
              line-height: var(--body-large-semibold-line-height);
            }
          }

          .comlist:not(:first-of-type, :last-of-type) {
            margin: 24px 0 0;
            // flex: 1 1 60%;
            // order: 1;
            // grid-area: text-area;

            @include font-style(
              var(--body-medium-regular-size),
              24px,
              #3d3d3d,
              400,
              var(--body)
            );

            // @media screen and (width <= 1101px) {
            //   flex: 1 1 40%;
            //   order: 3;
            // }

            // @include media(tab) {
            //   flex: 1 1 55%;
            // }

            @include media(mobile) {
              margin: 0;
              font-size: var(--paragraph-small-regular-size);
              line-height: var(--paragraph-small-regular-line-height);
            }
          }

          .comlist:last-of-type {
            all: unset;
            min-width: 260px;
            width: 260px;
            height: 260px;
            // order: 2;
            // margin-top: -24px;
            // grid-area: image-area;

            // @media screen and (width <= 1101px) {
            //   order: 3;
            // }

            // @include media(tab) {
            //   order: 2;
            //   margin: 24px 0 0;
            // }

            @include media(mobile) {
              // max-width: 100%;
              // width: 100%;
              // min-width: unset;
              // height: auto;
              // aspect-ratio: 1 / 1;

              width: auto;
              min-width: unset;
              height: auto;
              aspect-ratio: unset;
            }

            // * {
            //   margin: 0;
            // }

            .investarticle-leftinner1 {
              all: unset;
              height: 100%;
              display: block;

              .investsub-leftarticle4 {
                width: 100%;
                height: 100%;
              }
            }
          }

          // .comlist:not(:first-of-type, :last-of-type, :nth-child(2)) {
          //   order: 3;

          //   @media screen and (width <= 1101px) {
          //     order: 5;
          //   }
          // }
        }

        &.right-key-card {
          .default-content-wrapper.investarticle-leftmain1 {
            padding-right: 37px;

            @include media(tab) {
              padding: 0;
            }

            @media screen and (width <= 900px) {
              gap: 0 16px;
              flex-direction: column;
            }

            .comlist:first-of-type {
              flex: 1 1 60%;
              order: 1;
            }

            .comlist:not(:first-of-type, :last-of-type) {
              flex: 1 1 60%;
              order: 1;

              @media screen and (width <= 1101px) {
                flex: 1 1 40%;
                order: 3;
              }

              @include media(tab) {
                flex: 1 1 55%;
              }

              @include media(mobile) {
                order: 3;
                flex: 1 1 100%;
              }

              em {
                font-style: italic;
              }
            }

            .comlist:last-of-type {
              order: 2;
              margin: -24px 0 0;

              @media screen and (width <= 1101px) {
                order: 3;
              }

              @include media(tab) {
                order: 2;
                margin: 24px 0 0;
                flex: 1 1 100%;
                width: 100%;
                height: 100%;
              }

              * {
                margin: 0;
              }
            }

            .comlist:not(:first-of-type, :last-of-type, :nth-child(2)) {
              order: 3;
              margin: 40px 0 0;

              @media screen and (width <= 1101px) {
                order: 5;
              }

              @include media(mobile) {
                order: 4;
              }
            }
          }
        }

        &.left-key-card {
          .default-content-wrapper.investarticle-leftmain1 {
            padding-right: 44px;
            flex-wrap: wrap-reverse;
            align-items: flex-end;
            flex-direction: row-reverse;

            @include media(tab) {
              padding: 0;
              flex-wrap: unset;
              align-items: unset;
              flex-direction: column;
            }

            @media screen and (width <= 900px) {
              gap: 0 16px;
            }

            .comlist:first-of-type {
              flex: 0 1 64%;
              order: 3;
              margin: 0 0 0 276px;

              @media screen and (width <= 1112px) {
                // flex: 0 1 56%;
                // order: 3;
                flex: 0 1 56%;
                order: 4;
                margin-left: 0;
              }

              @include media(tab) {
                flex: 1 1 100%;
                order: 1;
              }
            }

            .comlist:not(:first-of-type, :last-of-type) {
              flex: 1 1 60%;
              order: 1;

              @media screen and (width <= 1112px) {
                // flex: 1 1 40%;
                // order: 2;
                flex: 1 1 40%;
                order: 3;
              }

              // @include media(tab) {
              //   flex: 1 1 55%;
              // }
              @include media(tab) {
                flex: 1 1 100%;
                order: 3;
              }

              em {
                font-style: italic;
              }
            }

            .comlist:last-of-type {
              order: 2;
              margin: -24px 0 0;

              @media screen and (width <= 1112px) {
                // order: 2;
                order: 3;
              }

              // @include media(tab) {
              //   order: 2;
              //   margin: 24px 0 0;
              // }
              @include media(tab) {
                order: 2;
                margin: 24px 0 0;
                flex: 1 1 100%;
                width: 100%;
                height: 100%;
              }

              * {
                margin: 0;
              }
            }

            .comlist:not(:first-of-type, :last-of-type, :nth-child(2)) {
              order: 0;
              margin: 40px 0 0;

              @media screen and (width <= 1112px) {
                // order: 5;
                order: 2;
                flex: 1 1 68%;
              }

              @include media(tab) {
                order: 3;
                flex: 1 1 68%;
              }
            }
          }
        }
      }

      &.key-details {
        .investarticle-leftmain1 {
          padding: 0;

          p.investarticle-leftsub1 {
            margin: 40px 0 0;

            @include font-style(
              var(--body-medium-regular-size),
              24px,
              #3d3d3d,
              400,
              var(--body)
            );

            @include media(mobile) {
              margin: 24px 0 0;
              font-size: var(--paragraph-small-regular-size);
              line-height: var(--paragraph-small-regular-line-height);
            }
          }
        }
      }
    }

    .section.article-sub-left.podcast-section {
      .embed-wrapper {
        height: auto;

        .embed {
          flex-direction: column;

          audio {
            background-color: green;
            border: 6px solid red;
            border-radius: 4px;
            padding: 10px 20px;
            width: 100%;
            max-width: 500px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            margin: 10px 0 0;

            &::-webkit-media-controls-panel {
              background-color: #e3f2fd;
              /* Light Blue */
            }

            &::-webkit-media-controls-play-button {
              background-color: #0288d1;
              /* Dark Blue */
              border-radius: 50%;
              color: white;
            }
          }
        }
      }
    }
  }

  .section.article-right-wrapper {
    max-width: 24.026%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    // position: sticky;
    // top: 180px;

    @include media(desktop-sm) {
      padding: 0;
      max-width: 26%;
    }

    @include media(tab) {
      max-width: 30%;
    }

    @include media(mobile) {
      max-width: 100%;
      margin: var(--spacing-40) 0;
    }

    .article-sub-right {
      &.download-analysis {
        .default-content-wrapper.investarticle-rightmain1 {
          .investarticle-rightsub {
            &1 {
              margin: 0 0 16px;

              @include font-style(
                var(--body-large-medium-size),
                var(--body-large-medium-line-height),
                var(--blue-1-800-primary),
                500,
                var(--body)
              );

              @include media(mobile) {
                font-size: var(--body-large-medium-size);
                line-height: var(--body-large-medium-line-height);
              }
            }

            &2 {
              margin: 0;
              line-height: 0;

              .investarticle-rightinner1 {
                border-radius: var(--border-radius-8);
                background: var(--neutrals-black);
                padding: 10px var(--spacing-12);
                margin: 0;
                border: none;
                width: 100%;

                @include font-style(
                  var(--button-medium-size),
                  var(--button-medium-line-height),
                  var(--text-white),
                  500,
                  var(--body)
                );

                @include media(mobile) {
                  font-size: var(--button-medium-size);
                  line-height: var(--button-medium-line-height);
                }
              }
            }
          }
        }
      }

      &.stay-updated {
        .default-content-wrapper.investarticle-rightmain1 {
          .investarticle-rightsub {
            &1 {
              margin: 0 0 16px;

              @include font-style(
                var(--body-large-medium-size),
                var(--body-large-medium-line-height),
                var(--blue-1-800-primary),
                500,
                var(--body)
              );

              @include media(mobile) {
                font-size: var(--body-large-medium-size);
                line-height: var(--body-large-medium-line-height);
              }
            }

            &2 {
              display: flex;
              align-items: center;
              gap: 8px;
              list-style: none;
              margin: 0;

              @include media(mobile) {
                gap: 20px;
              }

              > li.rightlist {
                width: 32px;
                height: 32px;
                cursor: pointer;

                @include media(mobile) {
                  width: 40px;
                  height: 40px;
                }

                * {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }

      &.subscribe-email {
        border-radius: var(--border-radius-8);
        background: var(--blue-1-800-primary);
        padding: var(--spacing-24) 16px;

        .default-content-wrapper.investarticle-rightmain1 {
          .investarticle-rightsub {
            &1,
            &1 .investarticle-rightinner1 {
              margin: 0;
              width: 64px;
              height: 64px;
            }

            &2 {
              margin: 8px 0 24px;

              @include font-style(
                var(--body-medium-medium-size),
                var(--body-medium-medium-line-height),
                var(--neutrals-white),
                500,
                var(--body)
              );

              @include media(mobile) {
                font-size: var(--body-medium-medium-size);
                line-height: var(--body-medium-medium-line-height);
              }
            }

            &3 {
              margin: 0;

              form {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-8);

                .email-wrapper {
                  //   border-radius: var(--border-radius-8);
                  //   border: var(--border-width-01) solid var(--neutrals-white);
                  //   padding: var(--spacing-8) var(--spacing-12);
                  position: relative;
                  // height: 40px;

                  label,
                  .email-imput {
                    @include font-style(
                      var(--body-medium-regular-size),
                      var(--body-medium-regular-line-height),
                      var(--neutrals-200),
                      400,
                      var(--body)
                    );

                    @include media(mobile) {
                      font-size: var(--body-medium-regular-size);
                      line-height: var(--body-medium-regular-line-height);
                    }
                  }

                  label {
                    position: absolute;
                    top: 50%;
                    left: 12px;
                    transform: translateY(-50%);
                    padding: 0 4px;
                    transition: all 0.3s ease;
                    cursor: auto;
                  }

                  .wrapimgform {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-radius: var(--border-radius-8);
                    border: var(--border-width-01) solid var(--neutrals-white);
                    padding: var(--spacing-8) var(--spacing-12);
                    height: 40px;

                    .email-imput {
                      background-color: transparent;
                      width: 100%;
                      padding: 2px 0;
                      height: 100%;
                      border: none;
                      outline: none;

                      &::placeholder {
                        color: transparent;
                      }
                    }

                    .crosserror,
                    .crosssuccess {
                      cursor: pointer;
                      width: 24px;
                      height: 24px;
                      display: none;
                    }

                    &.email-fail {
                      .crosserror {
                        display: block;
                      }
                    }

                    &.email-success {
                      .crosssuccess {
                        display: block;
                      }
                    }
                  }

                  &.active,
                  &:focus-within {
                    label {
                      transform: unset;
                      top: -10px;
                      background-color: var(--blue-1-800-primary);
                    }
                  }

                  .errormsg {
                    // position: absolute;
                    bottom: -20px;
                    color: #ff8088;
                    font-weight: 400;
                    font-feature-settings: var(--font-features-default);
                    font-size: var(--paragraph-xsmall-size);
                    line-height: var(--paragraph-xsmall-line-height);
                    margin-top: 4px;
                    margin-left: 5px;
                  }
                }

                .submit-btn {
                  .button {
                    border-radius: var(--border-radius-8);
                    background: var(--neutrals-white);
                    padding: 10px var(--spacing-12);
                    width: 100%;
                    margin: 0;
                    height: 40px;
                    border: none;

                    @include font-style(
                      var(--button-medium-size),
                      var(--button-medium-line-height),
                      var(--text-button-default),
                      500,
                      var(--body)
                    );

                    @include media(mobile) {
                      padding: var(--spacing-12);
                      font-size: var(--button-medium-size);
                      line-height: var(--button-medium-line-height);
                      height: 44px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.recommended-posts {
        .default-content-wrapper.investarticle-rightmain1 {
          .investarticle-rightsub {
            &1 {
              @include font-style(
                var(--body-large-medium-size),
                var(--body-large-medium-line-height),
                var(--blue-1-800-primary),
                500,
                var(--body)
              );

              margin: 0 0 8px;

              @include media(mobile) {
                font-size: var(--body-large-medium-size);
                line-height: var(--body-large-medium-line-height);
              }
            }

            &2 {
              margin: 0;

              .cards-container {
                .cards {
                  .investright-articleitem1 {
                    display: flex;
                    flex-direction: column;
                    gap: 0;

                    > li.rightlist.comlist {
                      padding: var(--spacing-16) 0;
                      border: none;
                      background-color: transparent;
                      display: flex;
                      gap: 8px;
                      align-items: start;

                      .cards-card-image {
                        min-width: 88px;
                        width: 88px;
                        height: 88px;

                        picture:first-of-type {
                          line-height: 0;
                          height: 100%;
                          display: block;

                          img:first-of-type {
                            width: 100%;
                            height: 100%;
                          }
                        }
                      }

                      .cards-card-body {
                        margin: 0;

                        p:first-of-type {
                          margin: 0;
                          display: flex;
                          align-items: center;
                          gap: 4px;

                          @include font-style(
                            var(--label-medium-size),
                            var(--label-medium-line-height),
                            var(--blue-1-800-primary),
                            400,
                            var(--body)
                          );

                          @include media(mobile) {
                            font-size: var(--label-medium-size);
                            line-height: var(--label-medium-line-height);
                          }

                          &::before {
                            content: "";
                            width: 4px;
                            height: 4px;
                            background-color: var(--blue-1-800-primary);
                            display: block;
                            border-radius: 50%;
                          }
                        }

                        a.rightlist {
                          word-break: unset;

                          h1,
                          h2,
                          h3,
                          h4,
                          h5,
                          h6 {
                            margin: 8px 0 0;

                            @include font-style(
                              var(--body-small-medium-size),
                              var(--body-small-medium-line-height),
                              var(--neutrals-900),
                              500,
                              var(--body)
                            );

                            @include media(mobile) {
                              font-size: var(--body-small-medium-size);
                              line-height: var(--body-small-medium-line-height);
                            }
                          }
                        }

                        p:last-of-type {
                          margin: 8px 0 0;
                          display: flex;
                          align-items: center;
                          gap: 4px;

                          @include font-style(
                            var(--label-small-size),
                            var(--label-small-line-height),
                            var(--neutrals-700),
                            400,
                            var(--body)
                          );

                          @include media(mobile) {
                            font-size: var(--label-small-size);
                            line-height: var(--label-small-line-height);
                          }

                          & span.icon {
                            width: 12px;
                            height: 12px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.our-podcast {
        .default-content-wrapper.investarticle-rightmain1 {
          .investarticle-rightsub {
            &1 {
              @include font-style(
                var(--body-large-medium-size),
                var(--body-large-medium-line-height),
                var(--blue-1-800-primary),
                500,
                var(--body)
              );

              margin: 0 0 24px;

              @include media(mobile) {
                font-size: var(--body-large-medium-size);
                line-height: var(--body-large-medium-line-height);
              }
            }

            &2 {
              margin: 0;

              .investarticle-rightinner1 {
                line-height: 0;
                display: block;
                height: 116px;

                @include media(mobile) {
                  height: 160px;
                }

                img.investsub-rightarticle4 {
                  width: 100%;
                  height: 100%;
                  border-radius: 3.92px;

                  @include media(mobile) {
                    border-radius: 1.45px;
                  }
                }
              }
            }

            &3 {
              margin: 0;
              display: flex;
              flex-direction: column;
              gap: 8px;
              list-style: none;

              > li.rightlist {
                padding: var(--spacing-16) 0;

                .investsub-rightarticle {
                  &1 {
                    margin: 0 0 4px;

                    @include font-style(
                      var(--body-medium-medium-size),
                      var(--body-medium-medium-line-height),
                      var(--neutrals-800),
                      500,
                      var(--body)
                    );

                    @include media(mobile) {
                      font-size: var(--body-medium-medium-size);
                      line-height: var(--body-medium-medium-line-height);
                    }
                  }

                  &2 {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    list-style: none;
                    margin: 0;

                    > li.rightlist {
                      @include font-style(
                        var(--label-small-size),
                        var(--label-small-line-height),
                        var(--neutrals-700),
                        400,
                        var(--body)
                      );

                      @include media(mobile) {
                        font-size: var(--label-small-size);
                        line-height: var(--label-small-line-height);
                      }

                      &:last-of-type {
                        display: flex;
                        align-items: center;
                        gap: 4px;

                        &::before {
                          content: "";
                          width: 4px;
                          height: 4px;
                          background-color: var(--blue-1-400);
                          border-radius: 50%;
                          margin-right: 4px;
                        }

                        .investright-articleitem1 {
                          width: 12px;
                          height: 12px;
                        }
                      }
                    }
                  }
                }

                &.investarticle-rightinner1 {
                  .investsub-rightarticle1 {
                    @include font-style(
                      var(--body-medium-semibold-size),
                      var(--body-medium-semibold-line-height),
                      var(--blue-1-800-primary),
                      600,
                      var(--body)
                    );

                    @include media(mobile) {
                      font-size: var(--body-medium-semibold-size);
                      line-height: var(--body-medium-semibold-line-height);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.section.future-building-container.article-detail-library {
  margin: 40px auto;

  @include media(mobile) {
    margin: 0 0 var(--spacing-80);
  }

  .library-btn {
    &3 {
      top: 14px;
    }
  }
}
