@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.global-dashboard-container {
  max-width: 1232px;
  width: 100%;
  display: flex;
  gap: 16px;
  margin: 0 auto;

  @include media(desktop-sm){
    padding: 0 24px;
  }
  
  @include media(mobile) {
    flex-direction: column;
    gap: 40px;
    padding: 0 16px;
  }

  .global-dashboard-wrapper {
    // max-width: 712px;
    max-width: 58%;
    padding: 0;
    margin: 0;

    @include media(mobile){
      max-width: 100%;
    }

    .global-dashboard {
      .global1 {
        display: flex;
        height: 284px;
        // padding: 0 115px 0 116px;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        // padding-bottom: 24px;
        border-radius: var(--border-radius-8);
        background: #2c2a95;

        @include media(mobile) {
          padding: 0;
          height: unset;
        }

        .globalsub1 {
          display: block;
          max-height: 284px;
          height: 100%;

          @include media(mobile) {
            display: none;
          }

          .globalinner1 {
            line-height: 0;
            height: 100%;
            display: block;

            img {
              height: 100%;
              object-fit: cover;
              border-radius: var(--border-radius-8);
            }
          }
        }

        .globalsub2 {
          display: none;

          @include media(mobile) {
            display: block;

            .globalinner1 {
              line-height: 0;
              height: 100%;
              display: block;
            }
          }
        }
      }

      .global2 {
        @include media(mobile) {
          padding: 16px 0 0;
        }

        .globalsub1 {
          padding: var(--spacing-24) 0;

          .globalinner1 {
            list-style: none;
            display: flex;
            gap: 8px;
            align-items: center;
            margin: 0;
            padding-bottom: 24px;

            li {
              display: flex;
              gap: 4px;
              align-items: center;
              justify-content: center;
              font-style: normal;

              @include font-style(
                var(--label-small-size),
                var(--label-small-line-height),
                var(--neutrals-700),
                400,
                var(--body)
              );

              .icon-ellipse-inves {
                width: 4px;
                height: 4px;
                display: flex;
              }

              .icon-calendar-inves {
                width: 12px;
                height: 12px;
                cursor: pointer;
              }
            }

            .globalsubinner1 {
              display: flex;
              min-width: 86px;
              height: 24px;
              padding: 0 var(--spacing-12);
              align-items: center;
              gap: 4px;
              border-radius: var(--border-radius-circle);
              border: 1px solid var(--strokes-default);
              font-style: normal;

              @include font-style(
                var(--label-small-size),
                var(--label-small-line-height),
                var(--blue-1-800-primary),
                400,
                var(--body)
              );

              @include media(mobile) {
                min-width: 74px;
                padding: 0 var(--spacing-8);
              }

              span.icon {
                width: 20px;
                height: 20px;

                @include media(mobile) {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }

          .globalinner2 {
            margin: 0;
            font-style: normal;
            padding-bottom: 4px;

            @include font-style(
              var(--body-large-medium-size),
              var(--body-large-medium-line-height),
              var(--blue-1-800-primary),
              500,
              var(--body)
            );

            @include media(mobile) {
              font-size: var(--body-large-medium-size);
              line-height: var(--body-large-medium-line-height);
            }
          }

          .globalinner3 {
            margin: 0;
            font-style: normal;
            padding-bottom: 16px;

            @include font-style(
              var(--body-medium-regular-size),
              24px,
              var(--text-body-2),
              400,
              var(--body)
            );

            @include media(mobile) {
              font-size: var(--paragraph-small-regular-size);
              line-height: var(--paragraph-small-regular-line-height);
            }
          }

          .globalinner4 {
            margin: 0;
            line-height: 0;

            .globalsubinner1 {
              margin: 0;
              font-style: normal;
              text-decoration-style: solid;
              text-decoration-skip-ink: auto;
              text-decoration-thickness: auto;
              text-underline-position: from-font;
              background: none;
              padding: 0;
              text-decoration-line: underline;
              text-underline-offset: auto;
              border-radius: 0;
              border: none;

              @include font-style(
                14px,
                var(--text-link-small-line-height),
                var(--text-text-link),
                400,
                var(--body)
              );

              @include media(mobile) {
                font-size: var(--text-link-small-size);
                line-height: var(--text-link-small-line-height);
              }
            }
          }
        }
      }
    }
  }

  .cards-wrapper {
    margin: 0;
    // max-width: 504px;
    max-width: 40.91%;
    width: 100%;
    padding: 0;

    @include media(mobile) {
      max-width: 100%;
    }

    // .global-text1 {
    //   list-style: none;
    //   margin: 0;

    //   li.comlist {
    //     display: flex;
    //     align-items: start;
    //     gap: 8px;
    //     padding: 8px 0;

    //     @include media(mobile){
    //       padding: 12px 0;
    //     }

    //     ul.comlist {
    //       margin: 0;
    //       list-style: none;

    //       li.comlist {
    //         padding: 0;
    //       }

    //       li.global-textsubinner1 {
    //         display: flex;
    //         align-items: center;

    //         // gap: 4px;
    //         font-style: normal;
    //         padding-bottom: 8px;

    //         @include font-style(var(--label-medium-size), var(--label-medium-line-height), var(--blue-1-800-primary), 400, var(--body));

    //         @include media(mobile){
    //           gap: 4px;
    //         }
    //       }

    //       li.global-textsubinner1::before {
    //         content: "";
    //         display: inline-block;
    //         align-items: center;
    //         width: 4px;
    //         height: 4px;
    //         background-color: var(--blue-1-800-primary);
    //         border-radius: 50%;
    //         vertical-align: middle;
    //       }

    //       li.global-textsubinner2 {
    //         font-style: normal;
    //         padding-bottom: 4px;

    //         @include font-style(
    //           var(--body-small-medium-size),
    //           var(--body-small-medium-line-height),
    //           var(--neutrals-900),
    //           500,
    //           var(--body)
    //         );

    //         @include media(mobile){
    //           font-size: var(--body-small-medium-size);
    //           line-height: var(--body-small-medium-line-height);
    //         }
    //       }

    //       li.global-textsubinner3 {
    //         font-style: normal;

    //         @include font-style(
    //           var(--paragraph-xsmall-size),
    //           var(--paragraph-xsmall-line-height),
    //           var(--text-body-2),
    //           400,
    //           var(--body)
    //         );

    //         @include media(mobile){
    //           font-size: var(--paragraph-xsmall-regular-size);
    //           line-height: var(--paragraph-xsmall-regular-line-height);
    //         }
    //       }
    //     }

    //     p.comlist {
    //       margin: 0;
    //       line-height: 0;

    //       .icon {
    //         width: 80px;
    //         height: 80px;

    //         @include media(mobile){
    //           width: 56px;
    //           height: 56px;
    //         }
    //       }
    //     }
    //   }

    //   li.global-textsub1 {
    //     padding-top: 0;
    //   }
    // }

    .global-card1 {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 0;

      @include media(mobile){
        gap: 24px;
      }

      > li.comlist {
        padding: 8px 0;
        border: none;
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;

        &:first-of-type{
          padding: 0 0 8px;
        }

        .global-cardinner1 {
          min-width: 80px;
          width: 80px;
          height: 80px;

          .global-cardchild1 {
            line-height: 0;
            height: 100%;
            display: block;

            .global-carditem2 {
              aspect-ratio: 1 / 1;
              border-radius: 3.64px;
            }
          }
        }

        .global-cardinner2 {
          margin: 0;

          .global-cardchild1 {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;
            margin: 0 0 8px;

            > li.comlist {
              display: flex;
              align-items: center;
              gap: 4px;

              @include font-style(
                var(--label-small-size),
                var(--label-small-line-height),
                var(--neutrals-700),
                400,
                var(--body)
              );

              &.global-carditem1 {
                border-radius: var(--border-radius-circle);
                border: 1px solid var(--strokes-default);
                padding: 0 var(--spacing-12);
                height: 24px;
                color: var(--blue-1-800-primary);

                .icon.global-cardsubitem1 {
                  width: 20px;
                  height: 20px;
                }
              }

              &.global-carditem3 {
                .icon.global-cardsubitem1 {
                  width: 12px;
                  height: 12px;
                }

                &::before {
                  content: "";
                  width: 4px;
                  height: 4px;
                  background-color: var(--blue-1-400);
                  border-radius: 50%;
                  margin-right: 4px;
                }
              }
            }
          }

          .global-cardchild2,
          .global-cardchild3 {
            margin: 0;
            line-height: 0;

            a.global-carditem1 {
              overflow: unset;
              margin: 0;
              border: none;
              border-radius: 0;
              padding: 0;
              white-space: unset;
              text-align: left;
              background-color: transparent;
              text-overflow: unset;
              word-break: unset;

              @include font-style(
                var(--body-small-medium-size),
                var(--body-small-medium-line-height),
                var(--neutrals-900),
                500,
                var(--body)
              );
            }
          }

          .global-cardchild3{
            a.global-carditem1{
              margin: 4px 0 0;
              text-decoration: underline;
              text-underline-offset: 2.8px;

              @include font-style(
                14px,
                var(--text-link-small-line-height),
                var(--text-text-link),
                400,
                var(--body)
              );
            }
          }
        }
      }
    }
  }
}
