@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;
@import "../swiper/swiper-bundle.min.css";

.our-fund-managers-container {
    >.default-content-wrapper {
        margin-bottom: 40px;

        p {
            margin: 0;
            color: var(--blue-1800-primary, #2E2A94);
            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
            font-family: var(--title, Inter);
            font-size: var(--heading-h5-size, 28px);
            font-style: normal;
            font-weight: 600;
            line-height: var(--heading-h5-line-height, 32px);
        }
    }

    .our-fund-managers-wrapper {
        .our-fund-managers {
            margin-right: -67px;

            @include media (mobile) {
                margin-right: -16px;
            }

            .swiper-wrapper {
                display: flex;
                align-items: stretch;

                .swiper-slide {
                    width: 306px !important;
                    height: auto;

                    .swiper-slide-cards {
                        &-1 {
                            width: 305.585px;
                            height: 369px;
                            aspect-ratio: 305.58/369.00;

                            a {
                                margin: 0;
                                padding: 0;
                                border-radius: unset;
                                background: transparent;
                                font-size: unset;
                                font-weight: unset;
                                line-height: unset;
                                white-space: unset;
                                border: unset;
                            }
                        }

                        &-2 {
                            margin: 0;

                            .cards-listcards1 {
                                margin: 0;
                                list-style: none;
                                margin-top: 16px;

                                .cards-list-1-cards {
                                    &1 {
                                        color: var(--blue-1800-primary, #2E2A94);
                                        font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                                        font-family: var(--body, Inter);
                                        font-size: var(--body-large-medium-size, 18px);
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: var(--body-large-medium-line-height, 24px);
                                    }

                                    &2 {
                                        margin-top: 8px;
                                        color: var(--text-body, #424242);
                                        font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                                        font-family: var(--body, Inter);
                                        font-size: var(--body-small-regular-size, 14px);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: var(--body-small-regular-line-height, 16px);
                                    }

                                    &3 {
                                        margin-top: 16px;

                                        a {
                                            color: var(--text-text-link, #2E2A94);
                                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                                            font-family: var(--body, Inter);
                                            font-size: var(--text-link-small-size, 14px);
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: var(--text-link-small-line-height, 20px);
                                            text-decoration-line: underline;
                                            text-decoration-style: solid;
                                            text-decoration-skip-ink: auto;
                                            text-decoration-thickness: auto;
                                            text-underline-offset: 1.2px;
                                            text-underline-position: from-font;
                                            border: unset;
                                            border-radius: unset;
                                            margin: 0;
                                            background-color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}