@use "sass:map";
@use "../../../styles/common-theme/css/variables_mixins" as *;
@use "../../../styles/common-theme/css/fluid-typography" as *;

body:has(.swp-summary) {
    .calculator-qa-container {
        p.answer:nth-child(4) {
            margin-bottom: 17px;
        }

        .answer:nth-child(15) {
            margin-bottom: 12px;
        }

        .answer-container {
            &:nth-child(7) {
                .answer:not(:last-child) {
                    margin-bottom: 14px;
                }
            }

            &:nth-child(20) {
                .answer:not(:last-child) {
                    display: block;
                    margin-bottom: 12px;
                }

                .answer:last-child {
                    margin-top: 17px;

                    .small-bold {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }

        p.answer:nth-child(9) {
            margin-bottom: 14px;
        }

        ol.answer-container {
            li.answer:not(:has(.pointer)) {
                &:not(:last-child) {
                    margin-bottom: 0;
                }


                &::marker {
                    font-size: 18px;
                    line-height: 28px;
                    color: $neutrals-700;
                }
            }

            &:nth-child(13) {
                .answer:has(.small-bold) {
                    font-size: 16px;
                    line-height: 20px;
                    list-style: none;
                    margin-left: 0;
                }
            }
        }

        p.answer:nth-child(18) {
            margin-bottom: 8px;
        }
    }
}


.calculator-container {
    .calculator-block {
        .calc-author-main1 {
            display: flex;
            flex-wrap: wrap;
            min-height: 315px;

            @include media(mobile) {
                min-height: 600px;
            }

            .calc-input-block {
                width: 100%;
                max-width: calc(50% - 8px);

                @include media(mobile) {
                    max-width: 100%;
                }
            }
        }

        .calc-author-main2 {
            height: 324px;
            justify-content: space-between;

            @include media(mobile) {
                gap: 24px;
            }

            .swp-amount,
            #swp-duration,
            #swp-total-withdrawn {
                @include font-style(20px, 24px, $primary-blue, 600, $inter);
            }

            .swp-top-summary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 7.2px;
                border-bottom: 1px solid $neutrals-300;


                .small-title {
                    @include font-style(12px, 16px, $neutrals-700, 400, $inter);

                    @include media(mobile-md) {
                        max-width: 160px;
                        width: 100%;
                    }
                }

                #swp-pre-value {
                    @include media(mobile) {
                        font-size: 18px;
                    }

                }
            }

            .swp-withdrawal-header {
                display: flex;
                align-items: center;
                gap: 8px;

                .icon {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 36px;
                        height: 25.245px;
                    }
                }

                .withdrawal-header-text {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .small-title {
                        @include font-style(14px, 16px, $primary-blue, 600, $inter);
                    }

                    .desc {
                        @include font-style(12px, 16px, $primary-blue, 400, $inter);
                    }
                }
            }

            .swp-withdrawal-details {
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: end;

                @include media(mobile) {
                    align-items: start;
                    margin-top: 16px;
                    padding: 2px 0;
                }

                .withdrawal-item {
                    max-width: 240px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .small-title {
                        @include font-style(12px, 16px, $neutrals-700, 400, $inter);
                    }

                    #swp-total-withdrawn,
                    #swp-duration {
                        @include media(mobile) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }

}
