@use "sass:map";
@use "sass:color";
@use "../../../styles/common-theme/css/variables_mixins" as *;
@use "../../../styles/common-theme/css/fluid-typography" as *;

.calculator-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    // gap: 1.5rem;
    // padding: 1rem;

    .calculator-block {
        div.calc-author-main2 {
            max-width: 504px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 17px;
            padding: 16px 12px;
            border-radius: 8px;
            background: $primary-white;
            box-shadow: $primary-box-shadow;

            @include media(mobile) {
                flex: unset;
                gap: 16px;
                max-width: 100%;
                width: 100%;
                height: fit-content;

                .calc-overview-cta {
                    display: none;
                }
            }
        }
    }

    .calc-author-main2 {
        &.calc-overview-summary {
            .calc-summary-half-wrapper {
                display: flex;

                >div {
                    width: 50%;
                }
            }

            .calc-summary-item {
                position: relative;
                display: flex;
                gap: 4px;

                &.total-returns-item {
                    gap: 12px;
                    align-items: center;

                    @include media(mobile) {
                        gap: 4px;
                    }

                    img {
                        width: 40px;
                        height: 40px;

                        // margin: 2px 0;
                        margin: 0;
                    }

                    div .sip-amount {
                        @include font-style(20px, 24px, $primary-blue, 600, $inter);

                        @include media(mobile) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }

                .color-block {
                    position: relative;
                    top: 4px;
                    width: 16px;
                    height: 8px;
                    border-radius: 8px;

                    &.invested-amount {
                        background-color: var(--invst-amt-bg);
                    }

                    &.est-returns {
                        background-color: var(--est-return-bg);
                    }
                }

                >div {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    span.sip-amount {
                        @include font-style(16px, 20px, $primary-blue, 600, $inter);

                        @include media(mobile) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }

                    .small-title {
                        @include font-style(12px, 16px, $neutrals-700, 400, $inter);

                        text-transform: capitalize;
                    }
                }

                .total-returns-item {
                    gap: 12px;
                }
            }

            .calc-compounding {
                position: relative;
                width: 100%;
                height: 48px;

                @include media(mobile) {
                    height: 58px;
                }

                .invested-amount-bar {
                    width: 100%;
                    height: 16px;
                    background-color: var(--invstd-amt-bg, $blue-1-200);
                }

                .estimated-returns-bar {
                    width: var(--est-return-percentage, 50%);
                    height: 48px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    justify-content: space-between;

                    // padding-left: 4px;
                    transition: width 0.3s ease;

                    .compound-container {
                        width: 100%;
                        height: 24px;
                        background-color: var(--est-return-bg, $blue-1-500);
                    }

                    .compound-rate-container {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        display: flex;
                        width: fit-content;
                        max-height: 24px;
                        white-space: nowrap;
                    }

                    .text,
                    #compound-rate {
                        @include font-style(12px, 16px, $primary-black, 400, $inter);

                        margin-left: 4px;
                    }

                    #compound-rate {
                        color: $primary-white;
                        padding: 0 8.5px;
                        background-color: $green-500-secondary;
                        border-radius: 16px;
                        margin-right: 4px;
                    }
                }

                .estimated-returns-bar:has(#compound-rate) {
                    border-left: 1px solid #111;
                }
            }
        }
    }

    .calc-input-block {
        max-width: 296px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;

        // label above input
        .calc-label {
            @include font-style(12px, 14px, $color-text-body, 600, $inter);

            margin: 0 0 4px;
        }

        // input and suffix container
        .calc-input-wrapper {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 8px;
            border: $neutrals-500 1px solid;
            padding: 8px 12px;
            transition: border-color 0.2s ease-in-out, border-width 0.2s ease-in-out;

            &:has(.currency-prefix) {
                gap: 4px;
            }

            &:has(.calc-input:focus) {
                border: 2px solid $blue-2-400;
            }

            .currency-dual-input-wrapper {
                width: 100%;
                max-height: 22px;
                display: flex;
                align-items: center;
            }

            .calc-inner-input-wrapper {
                display: flex;
                gap: 4px;
                align-items: center;
                padding: 0 16px;

                @include media(mobile) {
                    &:has(input[data-fieldtype="percent"]) {
                        gap: 0;
                    }
                }
            }

            .calc-input {
                @include font-style(16px, 20px, $neutrals-black, 400, $inter);

                position: relative;
                width: 100%;
                flex: 1;
                border: none;
                background: transparent;
                transition: width 0.05s ease;
                padding: 0;
                caret-color: $blue-2-400;

                &::placeholder {
                    color: #aaa;
                }

                // remove number input spinner arrows
                &[type='number'] {
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }

            .calc-suffix,
            .calc-inline-suffix,
            .calc-prefix {
                margin: 0;

                @include font-style(16px, 20px, $neutrals-black, 400, $inter);
            }

            .currency-suffix {
                position: relative;
                right: calc(100% - 12px);
            }

            // for variant-stepper
            &.stepper {
                border: 1px solid #ccc;
                overflow: hidden;

                input.calc-input {
                    width: var(--input-ch-width, 1ch); // fallback: 1ch
                }

                .calc-btn {
                    position: relative;
                    display: flex;
                    width: 24px;
                    height: 24px;
                    font-size: 16px;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    background-color: transparent;
                    opacity: 1;
                    touch-action: manipulation;
                    -webkit-tap-highlight-color: transparent;
                    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;

                    &.dec-btn {
                        padding: 11.5px 5.25px;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(90deg);
                            width: 1.5px;
                            height: 13.5px;
                            flex-shrink: 0;
                            background-color: $black-450;
                            border-radius: 3px;
                        }
                    }


                    &.inc-btn {
                        padding: 11.5px 5.25px;

                        &::after,
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(90deg);
                            width: 1.5px;
                            height: 13.5px;
                            flex-shrink: 0;
                            background-color: $black-450;
                            border-radius: 3px;
                        }

                        &::before {
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }

                    &.dec-btn,
                    &.inc-btn {
                        // opacity: 0;
                        width: 24px;
                        height: 24px;
                        border: none;
                    }

                    &:disabled {
                        cursor: not-allowed;

                        // opacity: 0.5;
                        // background-color: $neutrals-400;
                        &.dec-btn::after,
                        &.inc-btn::after,
                        &.inc-btn::before {
                            background-color: #82878F;
                        }
                    }

                    &:hover:not(:disabled) {
                        background-color: map.get($button-secondary, hover);
                    }

                    &:active:not(:disabled) {
                        background-color: map.get($button-secondary, hover);
                    }
                }

                .calc-input {
                    text-align: center;
                    width: 100%;
                }

                .calc-suffix {
                    padding-right: 0.6rem;
                    color: #555;
                }
            }
        }

        // min / max row below input
        .calc-limits {
            display: flex;
            justify-content: space-between;

            @include font-style(12px, 16px, $text-body-2, 400, $inter);


            .calc-min {
                text-align: left;
            }

            .calc-max {
                text-align: right;
            }
        }

        // -------- Variant Modifiers --------
        &.variant-text,
        &.variant-number {
            .calc-input-wrapper {
                .calc-input {
                    text-align: left;
                }
            }
        }

        // &.variant-stepper {
        //     .calc-input-wrapper {
        //         border: 1px solid #ccc;
        //     }
        // }
    }

    .calc-selector {
        display: flex;
        gap: 8px;
        align-items: center;
        max-width: 100%;

        @include media(mobile) {
            flex-direction: column;
            align-items: start;
        }

        &-label {
            @include font-style(12px, 16px, $neutrals-black, 500, $inter);

            white-space: nowrap;

            p {
                margin: 0;
                line-height: unset;
            }
        }

        &-radio {
            display: none;
        }

        &-options {
            display: flex;
            gap: 8px;
            align-items: center;

            @include media(mobile) {
                max-width: calc(100%);
                width: 100%;
                overflow: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        &-btn {
            @include font-style(14px, 16px, $color-text-body, 400, $inter);

            display: flex;
            height: 32px;
            min-width: fit-content;
            justify-content: center;
            align-items: center;
            padding: 7.7px 12px;
            margin: 0;
            border-radius: 1000px;
            letter-spacing: 0.4px;
            border: 1px solid $neutrals-400;
            background-color: $neutrals-50;
            text-transform: capitalize;
            transition: background-color 0.3s ease, border-color 0.3s ease;

            &-active {
                font-weight: 500;
                color: $blue-1-800-primary;
                letter-spacing: 0.305px;
                border: 1px solid $blue-1-600;
                background-color: $blue-1-25;
            }
        }
    }

    .calc-radio-selector {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;

        .calc-radio-title {
            @include font-style(12px, 14px, $color-text-body, 600, $inter);
        }

        .calc-radio-items {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;

            .calc-radio-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 4px;

                // .calc-radio-input {}

                /* Unactive state */
                .calc-radio-input:not(:checked) {
                    background-color: transparent;
                    border: 1px solid $neutrals-600;
                }

                /* Active (checked) state */
                .calc-radio-input:checked {
                    border: 1px solid $blue-1-800-primary;
                    background-color: $blue-1-800-primary;
                    box-shadow: inset 0 0 0 4px transparent;

                    /* inner white circle */
                }

                /* Label clickable */
                .calc-radio-label {
                    @include font-style(14px, 16px, $neutrals-black, 400, $inter);

                    cursor: pointer;
                    user-select: none;
                }

                .calc-radio-input:checked+.calc-radio-label {
                    font-weight: 500
                }

                // .calc-radio-label {}
            }
        }

    }
}


a.calc-overview-cta.button,
.calc-overview-cta {
    @include font-style(16px, 20px, $primary-white, 500, $inter);

    background-color: $primary-blue;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
        background-color: color.adjust($primary-blue, $lightness: -5%);
    }
}

.calculator-sticky-cta-container {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    display: none;
    justify-content: space-between;
    gap: 12px;
    padding: 16px 16px 32px;
    margin: 0;
    background-color: $primary-white;
    z-index: 10;

    @include media(mobile) {
        display: flex
    }

    .calc-overview-cta {
        @include media(mobile) {
            max-width: calc(50% - 6px);
            max-height: 44px;
            width: 100%;
            padding: 12px;
        }
    }


    .button.calculator-container-title-btn {
        @include font-style(16px, 20px, $blue-1-800-primary, 500, $inter);

        max-width: calc(50% - 6px);
        width: 100%;
        max-height: 44px;
        display: flex;
        padding: 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        margin: 0;
        border-radius: 8px;
        border: 1px solid $blue-1-800-primary;
        background-color: transparent;
        color: var(--text-button-default, #2E2A94);
        text-align: center;
        transition: color 0.3s ease, border 0.3s ease;
    }
}