@use "sass:map";
@use "../../../styles/common-theme/css/variables_mixins" as *;
@use "../../../styles/common-theme/css/fluid-typography" as *;

.calculator-container {
    .calculator-block {
        .calc-author-main1 {
            display: flex;
            flex-wrap: wrap; 

            .calc-input-block {
                width: 100%;
                max-width: calc(50% - 8px);

                @include media(mobile) {
                    max-width: 100%;
                }
            }
        }
        .calc-author-main2{
            max-height: 254px;
        }
    }
}