@use "sass:map";
@use "../../../styles/common-theme/css/variables_mixins" as *;
@use "../../../styles/common-theme/css/fluid-typography" as *;

.calculator-container {
    div.calculator-block.block {
        align-items: start;

        .calc-author-main1 {
            display: flex;
            flex-wrap: wrap;

            .calc-input-block {
                width: 100%;
                max-width: calc(50% - 8px);

                @include media(mobile) {
                    max-width: 100%;
                }
            }
        }

        .calc-author-main2 {
            display: grid;
            grid-template-areas:
                "title title"
                "delayMonth delay"
                "investToday investToday"
                "overviewCta overviewCta";
            gap: 24px 40px;
            padding: 16px 12px;

            @include media(mobile) {
                display: flex;
                gap: 24px;
            }

            .calc-summary-item {
                display: flex;
                gap: 4px;
                flex-direction: column;
                align-items: start;
                list-style: none;
                margin: 0;

                @include media(mobile) {
                    gap: 0;
                }

                li {
                    list-style: none;
                }

                &.calc-author-subitem5 {
                    @include font-style(14px, 16px, $primary-blue, 500, $inter);

                    grid-area: title;

                    @include media(mobile) {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }

                &.calc-author-subitem6.comlist {
                    grid-area: delayMonth;
                    max-width: 220px;

                    @include media(mobile) {
                        max-width: unset;
                    }
                }

                &.calc-author-subitem7.comlist {
                    grid-area: delay;
                    max-width: 220px;
                    margin-top: auto;

                    @include media(mobile) {
                        margin-top: unset;
                        max-width: unset;
                    }
                }

                &.calc-author-subitem8 {
                    grid-area: investToday;
                    margin-top: 16px;

                    @include media(mobile) {
                        margin-top: unset;
                    }
                }

                &.button-container.calc-author-subitem9 {
                    grid-area: overviewCta;
                    margin-top: 16px;

                    @include media(mobile) {
                        display: none;
                        margin-top: unset;
                    }
                }

                &.delay-item,
                &.delay-investment-item {
                    max-width: calc(50% - 20px);
                }

                &:has(.icon) li:first-child {
                    @include font-style(12px, 14px, $neutrals-700, 500, $inter);

                    height: 32px;
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                    align-items: center;
                    justify-content: start;

                    .icon {
                        max-width: fit-content;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                li.description {
                    @include font-style(12px, 16px, $neutrals-700, 400, $inter);

                    strong {
                        font-weight: 600;
                    }
                }

                li.sip-amount {
                    @include font-style(20px, 24px, $primary-blue, 600, $inter);


                    @include media(mobile) {
                        font-size: 14px;
                        line-height: 16px;
                        margin-top: 4px;
                    }

                    &#delay-value {
                        color: $red-500-primary;
                    }

                    &#invest-today-value {
                        color: $green-500-primary;
                    }
                }

                &:has(.icon-stopwatch-red-outline) li:first-child {
                    color: $red-500-primary;
                }

                &:has(.icon-investment-up-green) li:first-child {
                    color: $green-500-primary;
                }
            }

            .button.calc-overview-cta {
                width: 100%;
            }
        }
    }
}