 @use "sass:map";
 @use "../../styles/common-theme/css/variables_mixins" as *;
 @use "../../styles/common-theme/css/fluid-typography" as *;





 .section.portfolio-composition {
   background: #F5F5F5;
   padding: 40px 0;

   @media (width <=768px) {
     padding: 48px 0;

   }

   .default-content-wrapper {
     h5 {
       color: var(--blue-1-800-primary);
       text-align: center;
       font-family: var(--title);
       font-size: var(--heading-h5-size);
       font-style: normal;
       font-weight: 600;
       line-height: var(--heading-h5-line-height);
       margin: 0;
       margin-bottom: 24px;
       /* 114.286% */

       @media (width <=768px) {
         font-size: var(--sub-header-large-size);
         line-height: 28px;
         /* 116.667% */

       }
     }
   }

   .tabs-wrapper {
     .tabs {
       .default-content-wrapper {
         h5 {
           color: var(--blue-1-800-primary);
           text-align: center;
           font-family: var(--title);
           font-size: var(--heading-h5-size);
           font-style: normal;
           font-weight: 600;
           line-height: var(--heading-h5-line-height);
           margin: 0;
           margin-bottom: 24px;
           /* 114.286% */

           @media (width <=768px) {
             font-size: var(--sub-header-large-size);
             line-height: 28px;
             /* 116.667% */

           }
         }
       }

       .tabs-list {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 40px;

         @media (width <=768px) {
           margin-bottom: 48px;

         }

         .tabs-tab {
           display: flex;
           height: 32px;
           min-width: 40px;
           padding: var(--spacing-8) var(--spacing-12);
           justify-content: center;
           align-items: center;
           border-radius: var(--border-radius-circle);
           border: var(--border-width-01) solid var(--strokes-disabled);
           background: var(--surface-disabled, #FAFAFA);

           color: var(--text-body);
           font-family: var(--body);
           font-size: var(--body-small-regular-size);
           font-style: normal;
           font-weight: 400;
           line-height: var(--body-small-regular-line-height);
         }

         .tabs-tab.active {
           border-radius: var(--border-radius-circle);
           border: var(--border-width-01, 1px) solid var(--strokes-selected);
           background: var(--surface-selected);
           color: var(--text-button-default, #2E2A94);
           font-weight: 500;
         }
       }

       .tabs-panel {
         padding: 0;
         border: none;

         .portfolio-com-sub-inner-sub1 {
           .portfolio-composition-wrapper {
             .portfolio-composition {
               .wrapnote {
                 #abha {
                   width: 100%;
                   height: 432px;
                   flex-shrink: 0;
                   border-radius: 8px;
                   background-color: #f5f5f5;
                   box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
                 }
               }
             }
           }
         }
       }
     }
   }
 }